<div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
                <li>
                    <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process"
                        target="_blank" class="govuk-link govuk-link--no-visited-state">Trade remedies investigations
                        process (opens in a new window or tab)</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries"
                        target="_blank" class="govuk-link govuk-link--no-visited-state">Creating confidential and
                        non-confidential documents (opens in a new window or tab)</a>
                </li>
                <li>
                    <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires"
                        target="_blank" class="govuk-link govuk-link--no-visited-state">About our questionnaires
                        (opens in a new window or tab)</a>
                </li>
                {% if case_reference %}
                    <li>
                        <br>
                        <strong>Email the case team</strong>
                        <a class="govuk-link govuk-link--no-visited-state"
                            href="mailto:{{ case.reference }}@traderemedies.gov.uk" {# /PS-IGNORE #}
                        >
                            {{ case_reference }}@traderemedies.gov.uk {# /PS-IGNORE #}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </aside>
</div>
