{% extends 'v2/govuk/base.html' %}
{% block back_button %}{% endblock back_button %}

{% block page_title %}
    You have a new password
{% endblock %}

{% block head %}
    {{ block.super }}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'reset_password_success',
        });
    </script>
{% endblock head %}

{% block row_content %}

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have a new password
            </h1>
        </div>

        <p class="govuk-body">You have successfully reset your password.</p>
        <p class="govuk-body">Sign in to your Trade Remedies Service account with your new password.</p>
        <form action="{% url 'reset_password_success' %}" method="post">
            {% csrf_token %}
            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>
        </form>
    </div>

{% endblock row_content %}

{% block additional_content %}
    {% include "v2/feedback/stars_partial.html" with  journey="Forgot password complete" %}
{% endblock additional_content %}
