{% extends 'v2/govuk/base.html' %}

{% block page_title %}
Password has been reset
{% endblock %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            You have a new password
        </h1>
    </div>

    <p>You have successfully reset your password.</p>
    <p>Sign in to your Trade Remedies Service account with your new password.</p>
    <form action="/accounts/password/reset/success/" method="post">
        {% csrf_token %}
        <button class="govuk-button" data-module="govuk-button">
            Sign in
        </button>
    </form>
</div>

{% endblock main_content %}