{% extends "v2/govuk/base.html" %}

{% block page_title %}
Your link has expired
{% endblock %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Your link has expired
    </h1>
    <p>Password reset links are valid for 24 hours. You can request a new link.</p>

    <div class="govuk-button-group">


        <a href="{% url 'forgot_password_requested' %}?request_id={{ request_id }}" role="button" draggable="false" class="govuk-button"
           data-module="govuk-button">
            Request password reset
        </a>

        <a class="govuk-link" href="{% url 'login' %}">Sign in</a>
    </div>


</div>
{% endblock main_content %}