{% load format_date %}
{% load set %}
<ul class="document-list">
    {% for document in documents %}
        <li>
            {#  Show docs as links if they are creted by this user or issued or not confidential #}
            {% if document.downloadable or all_downloadable %}
                <a href="/case/{{case_id}}/submission/{{submission_id}}/document/{{document.id}}/download/" class="link" target="_blank">{{ document.name }}</a>
            {% else %}
                {{ document.name }}
            {% endif %}
        </li>

    {% endfor %}
</ul>