{% load get_item %}
{% load link_lookup %}
{% load set %}
{% if case %}
    {% if case.initiated_at %}
        {% set 'case_email' case.reference|add:"@traderemedies.gov.uk" %}
    {% else %}
        {% set 'case_email' "contact@traderemedies.gov.uk" %}  {# /PS-IGNORE #}
    {% endif %}
{% endif %}
<div class="rh-box">
    <p class="bold margin-bottom-1">Do you need help?</p>
    <div class="font-xsmall double-spaced">
        <span>
            <a class="link" href="{% link_lookup 'LINK_HELP_BOX_GUIDANCE' %}" target="_blank">Read the guidance documents &nbsp;<i class="icon16 icon-outlink" title="Opens in a new tab"></i></a>
        </span>
        {% if case_email %}
            <span>
                <p class="bold margin-bottom-0">Email case team:</p>
                <a class="link break-word" href="mailto:{{ case_email }}">{{ case_email }}</a>
            </span>
        {% endif %}
    </div>
</div>
