{% extends '../base_download.html' %}

{% block breadcrumb_current %}Register your interest in a case{% endblock %}
{% block page_subtitle %}3. Download templates to complete{% endblock %}
{% block page_title  %}Download registration documents{% endblock %}

{% block download_message %}
    <p>Download the registration form to register interest.</p>
    <p>If you wish to provide information for the purpose of the investigation, download the relevant pre-sampling questionnaire.</p>
    <p>The letter of authority should only be completed if you are representing a third party.</p>
{% endblock %}
