$jamie-panel-colour: #f0f2f2;
$in-progress: #ff6200; /* orange */
$completed: #26a65b;   /* green */
$todo-count-red: #e22722;  /* red tasks-to-do indicators on dashboard */

$alert-box-background: #d0e6d9;  /* light green */
$alert-box-border: #1d9d4e;
$amber: #ef7545;
$gds_confirmation_panel: #00703c;
