{% extends "../base_conf_nonconf.html" %}
{% load set %}

{% block breadcrumb_current %}Apply for a new investigation{% endblock %}
{% block page_subtitle %}4. Your non-confidential application{% endblock %}

{% block page_title  %}Upload your documents for the public file{% endblock %}

{% block label %}
    <p>To ensure the investigation process is fair and transparent, evidence will be made publicly visible.
        Each piece of evidence provided as part of your confidential application must also have a corresponding non-confidential version,
        with personal and commercially sensitive information redacted.</p>
    <p>Use this page to upload the corresponding <span class="bold">non-confidential</span> versions of your documents, pairing them against the confidential version.
        <span class="bold">These non-confidential documents will be made publicly visible.</span></p>
    <a class="link" href="{% link_lookup 'LINK_GUIDANCE_CONF_NONCONF' %}" target="_blank">Read more about how to create non-confidential versions of documents.&nbsp;<i class="icon16 icon-outlink" title="Opens in a new tab"></i></a>
{% endblock %}

{% block post-comment %}
{% endblock %}


