{% load task_link_toggle %}
<li>
    {% include "./section_heading.html" with section_heading=section_heading|default:'Your non-confidential submission'%}
    <ul class="task-list-items">
        <li class="task-list-item">
            {% if not_applicable %}
                <span>{{ item_heading|default:'No non-confidential documents required' }}</span>
            {% else %}
                {% if submission and enable %}
                    <a href="/case/{{case_id}}/submission/{%if submission.id %}{{submission.id}}{% else %}{{submission_type_id}}{% endif %}/upload/public">{{ item_heading|default:'Upload your documents for the public file' }}</a>
                {% else %}
                    <span>{{ item_heading|default:'Upload your documents for the public file' }}</span>
                {% endif %}
                <span class="pull-right">{% upload_count documents.non_confidential|length documents.confidential|length documents.deficient|length%}</span>
            {% endif %}
        </li>
    </ul>
</li>

