{% extends "./submission_base.html" %}
{% load format_date %}

{% block page_subtitle %}
  {{ case.reference }}: {{case.name}}
{% endblock %}

{% block breadcrumb_current %}{{submission.type.name}}{% endblock %}

  {% block subtype_content %}
      {% include 'cases/submissions/public_view_inner.html' %}
  {% endblock %}

  {% block buttons %}
  <div class="grid-row">
      {% if not case.id or submission.organisation_case_role.key == 'awaiting_approval' and submission.type.key == 'interest' %}
        <div class="column-full margin-top-2">
          <a href="/dashboard/">Back to dashboard</a>
        </div>
      {% else %}
        <div class="column-full margin-top-2">
          <a href="/case/{{case.id}}/organisation/{{current_organisation.id}}?tab=case_record">Back to case</a>
        </div>
      {% endif %}
  </div>
  {% endblock %}