{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Sign in or create account
{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% static 'v2/css/password.css' %}" rel="stylesheet">
{% endblock head %}

{% block fieldset_heading %}
    Sign in to Trade Remedies
{% endblock fieldset_heading %}

{% block form_content %}
    <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
    <p class="govuk-body">
        To request a Trade Remedies investigation or participate in an existing case, sign in to the Trade
        Remedies
        Service.
    </p>
    <input type="hidden" name="next" value="{{ next|default:'' }}">
    {% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}
    <div class="input-with-button">
        <button id="show_password" type="button" role="switch" aria-checked="false"
                class="govuk-button govuk-button--secondary" data-module="govuk-button">
            <span class="show-text">Show</span>
        </button>
        {% include 'v2/component_macros/text_input.html' with label="Password" id="password" name="password" type="password" width="15" %}
    </div>
    <p class="govuk-body">
        <a class="govuk-link" href="#">Forgotten password</a>
    </p>
    <button class="govuk-button" data-module="govuk-button">
        Sign in
    </button>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url 'register' %}">Create an account</a>
    </p>
{% endblock form_content %}

{% block scripts %}

    <script type="text/javascript">
        $('#show_password').click(function () {
            if ($(this).attr('aria-checked') === 'false') {
                $(this).attr('aria-checked', 'true')
                $('#password').attr('type', 'text')
                $(this).find('span').text('Hide')
            } else {
                $(this).attr('aria-checked', 'false')
                $('#password').attr('type', 'password')
                $(this).find('span').text('Show')
            }
        })
    </script>

{% endblock %}
