{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block back_button %}{% endblock back_button %}

{% block page_title %}
    Sign in to Trade Remedies Service
{% endblock %}

{% block heading %}
    Sign in to Trade Remedies Service
{% endblock heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block form_content %}
    <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
    <p class="govuk-body">
        Sign in to request a new investigation or participate in an existing case.
    </p>
    <input type="hidden" name="next" value="{{ next|default:'' }}">
    {% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}
    {% include "v2/component_macros/password_field_with_button.html" with autocomplete="password" label="Password" %}
    <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'forgot_password' %}">Forgot your password?</a>
    </p>
    <button class="govuk-button" data-module="govuk-button">
        Sign in
    </button>
    <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'v2_confirm_existing_org' %}">Create an account</a>
    </p>
{% endblock form_content %}

{% block scripts %}

    <script src="{% static 'v2/js/show_password.js' %}"></script>
    <script type="text/javascript">
        {% if request.session.login_email %}
            $("#email").val("{{ request.session.login_email }}")
        {% endif %}
    </script>

{% endblock %}
