{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Sign in or create account
{% endblock %}

{% block fieldset_heading %}
    Sign in to Trade Remedies
{% endblock fieldset_heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block form_content %}
    <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
    <p class="govuk-body">
        To request a Trade Remedies investigation or participate in an existing case, sign in to the Trade
        Remedies
        Service.
    </p>
    <input type="hidden" name="next" value="{{ next|default:'' }}">
    {% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}
    {% include "v2/component_macros/password_field_with_button.html" %}
    <p class="govuk-body">
        <a class="govuk-link" href="{% url 'forgot_password' %}">Forgotten password</a>
    </p>
    <button class="govuk-button" data-module="govuk-button">
        Sign in
    </button>
    <p class="govuk-body">
        <a class="govuk-link" href="{% url 'v2_register_start' %}">Create an account</a>
    </p>
{% endblock form_content %}

{% block scripts %}
    <script src="{% static 'v2/js/password_input.js' %}"></script>
{% endblock %}
