# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example Trade Remedies Public environment file. You shouldn't need to       #
# change these defaults for local development.                                #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
DEBUG=True
ALLOWED_HOSTS=localhost
DJANGO_SECRET_KEY=xxx
ENVIRONMENT_KEY=PUB-ENV
REDIS_BASE_URL=redis://redis:6379
API_BASE_URL=http://api:8000
USE_2FA=False
ACCOUNT_INFO_READ_ONLY=False
VERIFY_EMAIL=False

HEALTH_CHECK_TOKEN=AUTH-TOKEN-FOR-TRUSTED-USER

# AWS
S3_BUCKET_NAME=xxx     # Ask a Colleague
S3_STORAGE_KEY=xxx     # Ask a Colleague
S3_STORAGE_SECRET=xxx  # Ask a Colleague
