# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Example Trade Remedies Public environment file.

Change the DJANGO_SECRET_KEY value and ensure that
HEALTH_CHECK_TOKEN matches the value found in the local.env of
your local API repository.

Find remaining missing values from colleagues.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Django Settings
DJANGO_SETTINGS_MODULE=config.settings.local
DEBUG=True
ALLOWED_HOSTS=localhost
POSTGRES_HOST_AUTH_METHOD=trust
REDIS_BASE_URL=redis://redis:6379
DJANGO_SECRET_KEY=xxx      # Change me

# Trade Remedies API Client
API_BASE_URL=http://api:8000
ENVIRONMENT_KEY=xxx        # Change me
HEALTH_CHECK_TOKEN=xxx     # Change me

# Trade Remedies Public
USE_2FA=False
VERIFY_EMAIL=False

ORGANISATION_NAME="Trade Remedies Authority"
ORGANISATION_INITIALISM="TRA"

# AWS
S3_BUCKET_NAME=xxx     # Ask a Colleague
S3_STORAGE_KEY=xxx     # Ask a Colleague
S3_STORAGE_SECRET=xxx  # Ask a Colleague
AWS_REGION=eu-west-2

# Clam AV
CLAM_AV_USERNAME=xxx   # Ask a Colleague
CLAM_AV_PASSWORD=xxx   # Ask a Colleague
CLAM_AV_DOMAIN=xxx     # Ask a Colleague