DEBUG=True
ALLOWED_HOSTS=localhost
DJANGO_SECRET_KEY=xxx
ENVIRONMENT_KEY=PUB-ENV
REDIS_DATABASE_NUMBER=1
ACCOUNT_INFO_READ_ONLY=False
REDIS_BASE_URL=redis://redis:6379
API_BASE_URL=http://api:8000
TRUSTED_USER_TOKEN=AUTH-TOKEN-FOR-TRUSTED-USER
USE_2FA=False
HEALTH_CHECK_TOKEN=AUTH-TOKEN-FOR-TRUSTED-USER