{% extends 'v2/govuk/base.html' %}

{% block page_title %}
Email sent
{% endblock %}

{% block row_content %}
<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        Email sent
    </h1>
    <p>Check your email and follow the link provided to reset your password. </p>
    <p>You will only receive a password reset email if you entered the same email you used to sign up.</p>

</div>
{% endblock row_content %}

{% block additional_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "v2/feedback/feedback_partial.html" with journey="forgot password" url=request.path previous_url_name=request.resolver_match.url_name %}
        </div>
    </div>
{% endblock additional_content %}
