{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
Reset your password
{% endblock %}

{% block fieldset_heading %}
Reset your password
{% endblock fieldset_heading %}

{% block form_content %}

<!-- Content contains accessibility code for screen readers based on this blog: https://incl.ca/show-hide-password-accessibility-and-password-hints-tutorial -->

<p id="password-hints">The password for this account must:

    <!-- This text is only shown to screen readers -->
    <span class="sr-only">Be at least 8 characters, have at least 1 number, have at least 1 uppercase letter, have at least one lowercase letter. and have at least 1 special character.</span>
</p>

<!-- This text is not shown to screen readers -->
<ul class="govuk-list govuk-list--bullet" aria-hidden="true">
    <li id="length" class="invalid">be at least 8 characters long,</li>
    <li id="number" class="invalid">have at least one number (0 to 9),</li>
    <li id="letter" class="invalid">include at least one lowercase letter,</li>
    <li id="capital" class="invalid">include at least one uppercase letter,</li>
    <li id="special" class="invalid">contain a special character (e.g. !@$%/&lt;)</li>
</ul>

<!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
<p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
<p aria-live="polite" id="password-text2" class="sr-only">Confirm password hidden.</p>

<div class="input-with-button">
    <button id="show-password" type="button" role="switch" aria-checked="false"
            class="govuk-button govuk-button--secondary" data-module="govuk-button">
        <span class="show-text">Show</span>
    </button>


    <div class="govuk-form-group">
        <label class="govuk-label" for="password">
            Enter password
        </label>

        <input class="govuk-input govuk-input--width-15" id="password" name="password" type="password"
               aria-describedby="password-hints" autocomplete="off"
               style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">

    </div>


</div>


<button class="govuk-button" data-module="govuk-button">
    Continue
</button>


{% endblock form_content %}

{% block scripts %}

<script type="text/javascript">
    $('#show-password').click(function () {
        if ($(this).attr('aria-checked') === 'false') {
            $(this).attr('aria-checked', 'true')
            $('#password').attr('type', 'text')
            $(this).find('span').text('Hide')
        } else {
            $(this).attr('aria-checked', 'false')
            $('#password').attr('type', 'password')
            $(this).find('span').text('Show')
        }
    })

    var myInput = document.getElementById("password");
    var letter = document.getElementById("letter");
    var capital = document.getElementById("capital");
    var special = document.getElementById("special");
    var number = document.getElementById("number");
    var length = document.getElementById("length");

    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {

      // Validate lowercase letters
      var lowerCaseLetters = /[a-z]/g;
      if(myInput.value.match(lowerCaseLetters)) {
        letter.classList.remove("invalid");
        letter.classList.add("valid");
      } else {
        letter.classList.remove("valid");
        letter.classList.add("invalid");
      }

       // Validate upper case letters
       var upperCaseLetters = /[A-Z]/g;
       if(myInput.value.match(upperCaseLetters)) {
         capital.classList.remove("invalid");
         capital.classList.add("valid");
       } else {
        capital.classList.remove("valid");
        capital.classList.add("invalid");
       }

      // Validate numbers
      var numbers = /[0-9]/g;
      if(myInput.value.match(numbers)) {
        number.classList.remove("invalid");
        number.classList.add("valid");
      } else {
        number.classList.remove("valid");
        number.classList.add("invalid");
      }

      // Validate length
      if(myInput.value.length >= 8) {
        length.classList.remove("invalid");
        length.classList.add("valid");
      } else {
        length.classList.remove("valid");
        length.classList.add("invalid");
      }

      // Validate special chars
      var specialChars = /(?=.*?[#?!@$%^&*-])/g;
      if(myInput.value.match(specialChars)) {
        special.classList.remove("invalid");
        special.classList.add("valid");
      } else {
        special.classList.remove("valid");
        special.classList.add("invalid");
      }
    }


</script>

{% endblock %}