{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
Forgotten Password
{% endblock %}

{% block fieldset_heading %}
Forgotten your password?
{% endblock fieldset_heading %}

{% block form_content %}
<br/><br/>
<p>We will send you a link in an email that you can use to reset your password.</p>
<p>You'll only receive a password reset email if that email address is registered with us.</p>


{% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}


<button class="govuk-button" data-module="govuk-button">
    Request password reset
</button>


{% endblock form_content %}