{% extends "v2/govuk/base.html" %}
{% load static %}

{% block page_title %}
Forgotten Password
{% endblock %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Forgotten your password?
    </h1>

    <p>We will send you a link in an email that you can use to reset your password.</p>
    <p>You'll only receive a password reset email if that email address is registered with us.</p>

    <form method="post" novalidate="novalidate">

        {% csrf_token %}
        {% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}


        <button class="govuk-button" data-module="govuk-button">
            Request password reset
        </button>
    </form>
</div>


{% endblock main_content %}