{% extends "v2/govuk/base.html" %}

{% block page_title %}
    Reset your password
{% endblock %}

{% block row_content %}

    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Reset your password
        </h1>

        <p>Enter the email you used to sign up. We will send you a link to reset your password. </p>

        <form method="post" novalidate="novalidate">

            {% csrf_token %}
            {% include 'v2/component_macros/text_input.html' with label="Email address" id="email" name="email" type="email" width="20" %}


            <button class="govuk-button" data-module="govuk-button" onclick="window.location.hash=''">
                Request password reset
            </button>
        </form>
    </div>


{% endblock row_content %}
