{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Reset your password
{% endblock %}

{% block heading %}
    Reset your password
{% endblock heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block form_content %}

    <!-- Content contains accessibility code for screen readers based on this blog: https://incl.ca/show-hide-password-accessibility-and-password-hints-tutorial -->

    <p id="password-hints">The password for this account must:

        <!-- This text is only shown to screen readers -->
        <span class="sr-only">Be at least 8 characters, have at least 1 number, have at least 1 uppercase letter, have at least one lowercase letter. and have at least 1 special character.</span>
    </p>

    <!-- This text is not shown to screen readers -->
    <ul class="govuk-list govuk-list--bullet" aria-hidden="true">
        <li id="length" class="invalid">be at least 8 characters long</li>
        <li id="number" class="invalid">have at least one number (0 to 9)</li>
        <li id="letter" class="invalid">include at least one lowercase letter</li>
        <li id="capital" class="invalid">include at least one uppercase letter</li>
        <li id="special" class="invalid">contain a special character (eg. !@$%/&lt;)</li>
    </ul>
    {% include 'v2/component_macros/password_field_with_button.html' with autocomplete="new_password" label="Enter password" %}

    <button class="govuk-button" data-module="govuk-button" onclick="window.location.hash=''">
        Continue
    </button>


{% endblock form_content %}

{% block scripts %}

    <script src="{% static 'v2/js/show_password.js' %}"></script>
    <script src="{% static 'v2/js/validate_password.js' %}"></script>

{% endblock %}
