{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
Reset your password
{% endblock %}

{% block fieldset_heading %}
Reset your password
{% endblock fieldset_heading %}

{% block form_content %}

<!-- Content contains accessibility code for screen readers based on this blog: https://incl.ca/show-hide-password-accessibility-and-password-hints-tutorial -->

<p id="password-hints">The password for this account must:

    <!-- This text is only shown to screen readers -->
    <span class="sr-only">Be at least 8 characters, have at least 1 number, have at least 1 uppercase letter, have at least one lowercase letter. and have at least 1 special character.</span>
</p>

<!-- This text is not shown to screen readers -->
<ul class="govuk-list govuk-list--bullet" aria-hidden="true">
    <li id="length" class="invalid">be at least 8 characters long,</li>
    <li id="number" class="invalid">have at least one number (0 to 9),</li>
    <li id="letter" class="invalid">include at least one lowercase letter,</li>
    <li id="capital" class="invalid">include at least one uppercase letter,</li>
    <li id="special" class="invalid">contain a special character (e.g. !@$%/&lt;)</li>
</ul>

<!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
<p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
<p aria-live="polite" id="password-text2" class="sr-only">Confirm password hidden.</p>

<div class="input-with-button">
    <button id="show-password" type="button" role="switch" aria-checked="false"
            class="govuk-button govuk-button--secondary" data-module="govuk-button">
        <span class="show-text">Show</span>
    </button>


    <div class="govuk-form-group">
        <label class="govuk-label" for="password">
            Enter password
        </label>

        <input class="govuk-input govuk-input--width-15" id="password" name="password" type="password"
               aria-describedby="password-hints" autocomplete="off"
               style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"> {# /PS-IGNORE #}

    </div>


</div>


<button class="govuk-button" data-module="govuk-button">
    Continue
</button>


{% endblock form_content %}

{% block scripts %}

<script type="text/javascript">
    $('#show-password').click(function () {
        if ($(this).attr('aria-checked') === 'false') {
            $(this).attr('aria-checked', 'true')
            $('#password').attr('type', 'text')
            $(this).find('span').text('Hide')
        } else {
            $(this).attr('aria-checked', 'false')
            $('#password').attr('type', 'password')
            $(this).find('span').text('Show')
        }
    })

    $("#password").keyup(function () {
        if ($(this).val().length >= 8) {
            // It's 8 characters or more
            $("#length").addClass("valid")
        } else {
            $("#length").removeClass("valid")
        }

        if ($(this).val().match(/[a-z]/)) {
            // There are lowercase characters
            $("#letter").addClass("valid")
        } else {
            $("#letter").removeClass("valid")
        }

        if ($(this).val().match(/[A-Z]/)) {
            // There are uppercase characters
            $("#capital").addClass("valid")
        } else {
            $("#capital").removeClass("valid")
        }

        if ($(this).val().match(/[0-9]/)) {
            // There are uppercase characters
            $("#number").addClass("valid")
        } else {
            $("#number").removeClass("valid")
        }

        if ($(this).val().match(/[!"$%&\'#()*+,-./:;<=>?\\@[\]^_`{|}~]/)) {
            // There are special characters
            $("#special").addClass("valid")
        } else {
            $("#special").removeClass("valid")
        }
    })

</script>

{% endblock %}