{% extends 'v2/govuk/base.html' %}


{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate="novalidate">
            {# Sometimes we don't want a header on the page, so we can override this block in the child template with an empty space, e.g. {% block noheader %}{% endblock %} #}
            {% block noheader %}
                {% block header_caption %}
                {% endblock header_caption %}
                <h1 class="govuk-heading-xl">
                    {% block heading %}{% endblock heading %}
                </h1>
            {% endblock noheader %}
            {% csrf_token %}
            {% block form_content %}{% endblock form_content %}
        </form>
    </div>
{% endblock row_content %}
