version: 2.1
jobs:
  python_steps:
    docker:
      - image: circleci/python:3.6.12
        environment:
          DATABASE_URL: sqlite:///trade_remedies_public/db.sqlite3
          DJANGO_SETTINGS_MODULE: trade_remedies_public.settings.local
          DJANGO_SECRET_KEY: used_for_testing
          ALLOWED_HOSTS: "*"
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/dev.txt" }}
      - run:
          name: Install Python deps
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/dev.txt
            pip install trade_remedies_client/trade-remedies-client-0.1.tar.gz
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements/dev.txt" }}
      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            cd trade_remedies_public
            python manage.py test
      - run:
          name: Run black
          command: |
            . venv/bin/activate
            # black trade_remedies_api --check
      - run:
          name: Run Flake8
          command: |
            . venv/bin/activate
            # python -m flake8
  front_end:
    docker: 
      - image: 'circleci/node:latest'
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Restore npm dependencies
          command: npm ci
      - run:
          name: Run prettier
          command: |
            npm run prettier
      - save_cache:
          paths:
            - node_modules
          key: npm-dependencies-{{ checksum "package-lock.json" }}
          
workflows:
  version: 2
  run_tests:
    jobs:
      - python_steps
      - front_end