{% extends "v2/govuk/base.html" %}

{% load static %}

{% block page_title %}TRA Investigations{% endblock page_title %}

{% block breadcrumbs %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{% url 'public_cases' %}">TRA investigations</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link"
                    href="{% url 'public_case' case_number=submission.case.reference %}">{{ submission.case.reference }}</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                {{ submission.type.name }}
            </li>
        </ol>
    </div>
{% endblock breadcrumbs %}

{% block back_button %}{% endblock back_button %}

{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ submission.case.reference }} - {{ submission.case.name }}</span>
            <h1 class="govuk-heading-xl">
                {{ submission.type.name }}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if submission.type.key in "public, questionnaire" and submission.name %}
                <h2 class="govuk-heading-m">
                    {{ submission.name }}
                </h2>
            {% endif %}
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Party
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if submission.deficiency_notice_params.issue_anonymously == 'yes' %}
                            Withheld by request
                        {% else %}
                            {{ submission.organisation.name }}
                        {% endif %}
                    </dd>
                </div>
                {% if not submission.is_tra %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Party type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if submission.deficiency_notice_params.issue_anonymously == 'yes' %}
                                N/A
                            {% else %}
                                {{ submission.organisation_case_role_name }}
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Submitted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if submission.received_at %}
                            {{ submission.received_at|date:"d M Y" }}
                        {% elif submission.sent_at %}
                            {{ submission.sent_at|date:"d M Y" }}
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {% if submission.is_tra %}
                            Issued
                        {% else %}
                            Published
                        {% endif %}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ submission.issued_at|date:"d M Y" }}
                    </dd>
                </div>
            </dl>
            {% if submission.is_tra %}
                <h2 class="govuk-heading-m">TRA documents</h2>
                <ul class="govuk-list">
                    {% for submission_document in submission.submission_documents %}
                        {% if submission_document.type.key == "caseworker" %}
                            {# this is a TRA document #}
                            <li>
                                {% include "v2/partials/file_download_with_tick.html" with document=submission_document.document %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Contents
                    </h2>
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#submitted-docs" id="tab_submitted-docs" role="tab"
                                aria-controls="submitted-docs" aria-selected="true" tabindex="0">
                                Interested party submissions
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#TRA-docs" id="tab_TRA-docs" role="tab"
                                aria-controls="TRA-docs" aria-selected="false" tabindex="-1">
                                TRA documents
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="submitted-docs" role="tabpanel"
                        aria-labelledby="tab_submitted-docs">
                        <h2 class="govuk-heading-m">Interested party submissions</h2>
                        <ul class="govuk-list">
                            {% for submission_document in submission.submission_documents %}
                                {% if submission_document.type.key == "respondent" and not submission_document.document.confidential %}
                                    {# this is a customer document #}
                                    <li>
                                        {% include "v2/partials/file_download_with_tick.html" with document=submission_document.document %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="TRA-docs" role="tabpanel"
                        aria-labelledby="tab_TRA-docs">
                        <h2 class="govuk-heading-m">TRA documents</h2>
                        <ul class="govuk-list">
                            {% for submission_document in submission.submission_documents %}
                                {% if submission_document.type.key == "caseworker" and not submission_document.document.confidential %}
                                    {# this is a TRA document #}
                                    <li>
                                        {% include "v2/partials/file_download_with_tick.html" with document=submission_document.document %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock main_content %}
