{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your account details
{% endblock %}

{% block heading %}
    Your account details
{% endblock heading %}

{% block form_content %}
    <p class="govuk-body">You will be creating this account for your own organisation and will be the admin for the account. This is the
        organisation you are directly employed by.</p>

    {% include 'v2/component_macros/text_input.html' with value=invitation.contact.name label="Enter your name" id="name" name="name" type="text" width="20" strong=True %}
    {% include 'v2/component_macros/text_input.html' with value=invitation.contact.email label="Your email address" id="email" name="email" type="text" width="20" hint="Use your professional email to sign in." strong=True readyonly=True disabled=True %}

    {% include 'v2/component_macros/checkbox.html' with heading="Terms of Use and Privacy Notice" label="I have read and understood the <a href='/termsofuse-privacypolicy/' class='govuk-link' rel='noreferrer noopener' target='_blank'>Terms of Use and Privacy Notice (opens in new tab)</a>" id="terms_and_conditions_accept" name="terms_and_conditions_accept" %}
    {% include "v2/component_macros/form_button_group.html" %}
{% endblock form_content %}
