{% extends '../base_tasklist.html' %}
{% load task_link_toggle %}
{% load error_message %}
{% load task_status %}
{% load organisation_name %}

{% block breadcrumb %}
    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1"   class="" aria-current="false" href="/dashboard">Dashboard</a>
    </li>
    <li data-track-category="breadcrumbClicked" data-track-action="2"   class="" aria-current="false" >
        <a href="/accounts/team/">Manage your team</a>
    </li>
    <li data-track-category="breadcrumbClicked" data-track-action="3"   class="" aria-current="false" >
        <a href="/accounts/team/{{organisation.id}}/user/{{ assign_user.id }}/">{{ assign_user.name }}</a>
    </li>
{% endblock %}

{% block breadcrumb_current %}Assign a user to a case{% endblock %}

{% block header %}
    <h1 class="heading-large">
        Assign {{assign_user.name}} to a case
    </h1>
{% endblock %}

{% block submission_received_title %}Assign {{assign_user.name}} to case{% endblock %}

{% block submission_received_message %}<p>This application has been submitted.</p>
    <p>If you want to report an omission, error or material change contact the <a target="_blank" href="/contact" class="nobreak">{% organisation_name %}</a>.</p>
{% endblock %}

{% block tasklist_content %}
    <li>
        <div class="edit-item" data-section="143">
            <h2 class="task-list-section">
                <span class="task-list-section-number">1. </span>
                <span class="task-list-section-title">Which case are you interested in?</span>
            </h2>
        </div>
        <ul class="task-list-items">
            <li class="task-list-item edit-item" data-section="27">
                {% if case %}
                    {% task_status 'COMPLETE' %}
                    <span>{% if case.reference %}{{case.reference}}:{% endif %} {{case.name}}</span><br/>
                    {% if representing %}
                        <span>Representing {{representing.name}}</span>
                    {% endif %}
                {% else %}
                    <a href="/case/select/organisation/for/{{assign_user.id}}/?redirect=assign_user_to_case|user_id={{assign_user.id}}">Select case</a>
                {% endif %}
            </li>
        </ul>
    </li>
    <li>
        <div class="edit-item" data-section="143">
            <h2 class="task-list-section">
                <span class="task-list-section-number">2. </span>
                <span class="task-list-section-title">Contact options</span>
            </h2>
        </div>
        <ul class="task-list-items">
            <li class="task-list-item edit-item" data-section="27">
                {% if case and primary == 'primary' %}
                    {% task_status 'COMPLETE' %}
                {% elif case and primary == 'nochange' %}
                    {% task_status 'COMPLETE' %}
                {% endif %}
                {% if case %}
                    {% if representing %}
                        <a href="/accounts/team/assign/{{assign_user.id}}/case/{{case_id}}/submission/{{submission_id}}/contact/">Set contact options</a>
                    {% else %}
                        <a href="/accounts/team/assign/{{assign_user.id}}/case/{{case_id}}/contact/">Set contact options</a>
                    {% endif %}
                {% else %}
                    <div>Set contact options</div>
                {% endif %}
            </li>
        </ul>
    </li>
    {% set 'section_counter' 3 %}
    {% set 'not_thirdparty' True %}
    {% if representing_third_party %}
        {% set 'not_thirdparty' False %}
    {% endif %}

    {% include "partials/task_list/download_documents.html" with item_heading='Download Letter of Authority template' disabled=not_thirdparty %}
    {% set 'item_heading' 'Upload Letter of Authority' %}
    {% if not representing_third_party %}
        {% set 'item_heading' 'Not applicable' %}
    {% endif %}
    {% include "partials/task_list/upload_confidential_documents.html" with section_heading='Upload forms' item_heading=item_heading enable=representing_third_party confidential_only=True section_counter=4 %}
    {% set 'section_counter' 5 %}
    <li>
        {% include "partials/task_list/section_heading.html" with section_heading='Submit your request' %}
        <ul class="task-list-items">
            <li class="task-list-item edit-item">
                {% if enable_submit %}
                    {% if representing %}
                        <a href="/case/{{case.id}}/submission/{{submission_id}}/submit/">Final check and submission</a>
                        <!-- <a href="/accounts/team/assign/{{assign_user.id}}/case/{{case.id}}/contact/{{primary}}/submission/{{submission_id}}/">Final check and submission</a> -->
                    {% else %}
                        <a href="/accounts/team/assign/{{assign_user.id}}/case/{{case.id}}/contact/{{primary}}/">Final check and submission</a>
                    {% endif %}
                {% else %}
                    Final check and submission
                    {% if submission.sent or submission.locking %}
                        {% task_status 'COMPLETE' %}
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </li>

{% endblock %}
{% block back_buttons %}
    <div class="margin-bottom-1">
        <a href="/accounts/team/{{organisation.id}}/user/{{ assign_user.id }}/">Back to {{ assign_user.name }}</a>
    </div>
{% endblock %}

{% block cancel_button_redirect %}/accounts/team/{% endblock %}