{% extends "base.html" %}

{% block row_content %}
    <div class="terms-and-conditions-page">
        <div class="column-two-thirds left-column">
            <h1 class="heading-xlarge"><span class="heading-secondary">Trade Remedies Digital Service</span>
                Cookies
            </h1>
            <p>Trade Remedies Digital Service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site and to enable the service to function efficiently and securely.</p>
            <p>Cookies are used to:</p>
            <ul class="list list-bullet">
                <li>measure how you use the website so it can be updated and improved based on your needs</li>
                <li>assist in the function of your session when you register and log in to use the service and to manage the logging out from that service if your session is idle, protecting the security of any information you have entered</li>
                <li>manage the security of information you enter and files you upload</li>
            </ul>
            <p>Find out more about <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies</a>.</p>

            <h2 class="heading-large">How cookies are used on Trade Remedies Digital Service</h1>
            <h3 class="heading-medium">Measuring website usage (Google Analytics)</h2>
            <p>We use Google Analytics software (Universal Analytics) to collect information about how you use Trade Remedies Digital Service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example improving site search.</p>
            <p>Google Analytics stores information about:</p>
            <ul class="list list-bullet">
                <li>the pages you visit on GOV.UK</li>
                <li>how long you spend on each Trade Remedies Digital Service page</li>
                <li>how you got to the site</li>
                <li>what you click on while you’re visiting the site</li>
            </ul>
            <p>We do not collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>
            <p class="underline">Trade Remedies Digital Service does not use Google Analytics after you have logged in to use the service.</p>
            <p>We do not allow Google to use or share our analytics data.</p>
            <p>Google Analytics sets the following cookies:
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Purpose</th>
                            <th>Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>_ga</td>
                            <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>_gid</td>
                            <td>This helps us count how many people visit GOV.UK by tracking if you’ve visited before</td>
                            <td>24 hours</td>
                        </tr>
                        <tr>
                            <td>_gat</td>
                            <td>Used to manage the rate at which page view requests are made</td>
                            <td>10 minutes</td>
                        </tr>
                    </tbody>
                </table>
                You can <a href="https://tools.google.com/dlpage/gaoptout">opt out of Google Analytics cookies</a>.
            </p>

            <h3 class="heading-medium">Managing your user session</h3>
            <p>When you log in to use the service, a cookie is set to manage your session activity.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>sessionid</td>
                        <td>Stores session data</td>
                        <td>When you log out or leave session inactive for 15 minutes on public on 1 hour on caseworker.</td>
                    </tr>
                </tbody>
            </table>

            <h3 class="heading-medium">Checking the integrity of your document upload</h3>
            <p>When you submit information in the logged-in section of the service, a cookie is set to cross-reference data submitted by you against data received by the system.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expires</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>csrftoken</td>
                        <td>Safeguards against cross site request forgery </td>
                        <td>Set with a future expiry date. Standard practice for this type of cookie.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="column-one-third right-column">
            {% block right_column %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
