{% extends "v2/govuk/base.html" %}
{% block feedback_link %}{% endblock %}
{% block back_button %}{% endblock back_button %}

{% block page_title %}Feedback complete{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Feedback sent
            </h1>
        </div>
        <p class="govuk-body">Thank you for your feedback</p>
        <p class="govuk-body">Your feedback will help us improve our service</p>
        <div class="govuk-button-group">
            {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" role="button" draggable="false" class="govuk-button"
                    data-module="govuk-button">
                    Go to my dashboard
                </a>
            {% else %}
                <a href="{{ previous_url|safe }}" role="button" draggable="false" class="govuk-button"
                    data-module="govuk-button">
                    Back
                </a>
            {% endif %}
        </div>
    </div>
{% endblock row_content %}
