{% extends "v2/govuk/base.html" %}

{% block page_title %}Choose case{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% csrf_token %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="invite-case-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which case can the user take part in?
                        </h1>
                    </legend>
                    {% if user_cases or currently_not_assigned_cases %}
                        <div id="invite-case-hint" class="govuk-hint">
                            Select all that apply
                        </div>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            {% for user_case in user_cases %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="{{ user_case.id }}"
                                        name="which_user_case"
                                        type="checkbox"
                                        value="{{ user_case.id }}"
                                        {% if user_case.id in user_cases_to_link_ids %}checked{% endif %}>
                                    <label class="govuk-label govuk-checkboxes__label" for="{{ user_case.id }}">
                                        {{ user_case.case.reference }} - {{ user_case.case.name }}
                                    </label>
                                    {% if user_case.organisation.id != request.user.contact.organisation.id %}
                                        {# This org is a representative on this case, and so we should show a hint telling the user who they are representing on this case #}
                                        <div class="govuk-hint govuk-checkboxes__hint">
                                            {{ user_case.organisation.name }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            {% for currently_not_assigned_org_case_role in currently_not_assigned_cases %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="{{ currently_not_assigned_case.id }}"
                                        name="which_org_case_role"
                                        type="checkbox"
                                        value="{{ currently_not_assigned_org_case_role.id }}">
                                    <label class="govuk-label govuk-checkboxes__label" for="{{ user_case.id }}">
                                        {{ currently_not_assigned_org_case_role.case.reference }}
                                        - {{ currently_not_assigned_org_case_role.case.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </fieldset>
            </div>
            {% if not user_cases and not currently_not_assigned_cases %}
                <p class="govuk-body">There are no more cases available to assign to this user.</p>
            {% endif %}
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why can't I see other active cases?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>You can only select cases that your organisation is taking part in.</p>
                    <p> You can <a href="{% url 'roi' %}" class="govuk-link">register interest</a> in a case and if
                        accepted you can
                        invite others.</p>
                </div>
            </details>
            {% if not user_cases and not currently_not_assigned_cases %}
                <a class="govuk-button" data-module="govuk-button" href="javascript: window.history.go(-1)">
                    Back
                </a>
            {% else %}
                {% include "v2/component_macros/form_button_group.html" with forward_button_text="Assign" %}
            {% endif %}
        </form>
    </div>
{% endblock row_content %}
