{% load get_item %}
{% load countries %}
{% get_countries as countries %}
{% with form_errors|get_item:id as error %}
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="{{ name }}">
            Country
        </label>
        {% if error %}
            <p id="{{ name }}-error" class="govuk-error-message">
                {% for error in error %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
            </p>
        {% endif %}

        <select class="govuk-select" id="{{ id }}" name="{{ name }}" autocomplete="country"
                {% if error %}style="border: 2px solid #d4351c;"{% endif %}
        >
            {% for country in countries %}
                <option value="{{ country.code }}" {% if form.cleaned_data|get_item:name == country.code %}selected{% endif %}>{{ country.name }}</option>
            {% endfor %}

        </select>
    </div>
{% endwith %}
