<div class="govuk-button-group">
    {% if is_javascript_required %}
        <button class="govuk-button without-js" data-module="govuk-button" disabled>
            {% if forward_button_text %}
                {{ forward_button_text }}
            {% else %}
                Continue
            {% endif %}
        </button>
        <button class="govuk-button with-js" data-module="govuk-button">
            {% if forward_button_text %}
                {{ forward_button_text }}
            {% else %}
                Continue
            {% endif %}
        </button>
    {% else %}
        <button class="govuk-button" data-module="govuk-button">
            {% if forward_button_text %}
                {{ forward_button_text }}
            {% else %}
                Continue
            {% endif %}
        </button>
    {% endif %}
</div>
