<div class="input-with-button">
    <!-- This text is only shown to screen readers and informs the user that the password is / isn't hidden -->
    <p aria-live="polite" id="password-text" class="sr-only">Password hidden.</p>
    {% with form_errors.password as error %}
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="password">
                {{ label }}
            </label>
            {% if error %}
                <p id="password-error" class="govuk-error-message">
                    {% for error in error %}
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="flex-input-button">
                <div class="hold-left">
                    <input class="govuk-input govuk-input--width-15 {% if error %}govuk-input--error{% endif %}"
                        id="password" name="password" type="password"
                        {% if autocomplete %}autocomplete="{{ autocomplete }}"{% else %}autocomplete="off"{% endif %}>
                </div>
                <div class="hold-right" id="show_password_button_container">
                    <button id="show_password" type="button" role="switch" aria-checked="false"
                        class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        <span class="show-text">
                            Show <span class="govuk-visually-hidden">password</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    {% endwith %}
</div>
