{% load get_item %}

{% with form_errors|get_item:id as error %}
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}
        {% if form_group_classes %}{{ form_group_classes }}{% endif %}">
        <label class="govuk-label {% if strong %}govuk-label--s{% endif %}" for="{{ id }}">
            {{ label }}
        </label>
        {% if hint %}
            <div id={{ name }}-hint" class="govuk-hint">
                {{ hint }}
            </div>
        {% endif %}
        {% if error %}
            <p id="{{ name }}-error" class="govuk-error-message">
                {% for error in error %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
            </p>
        {% endif %}
        <input class="govuk-input govuk-input--width-{{ width }} {% if error %}govuk-input--error{% endif %}"
               id="{{ id }}" name="{{ name }}" type="{{ type }}"
               autocomplete="off">
    </div>
{% endwith %}
