{% load get_item %}

{% with form_errors|get_item:id as error %}
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}
        {% if form_group_classes %}{{ form_group_classes }}{% endif %}">
        <label class="govuk-label {% if strong %}govuk-label--s{% endif %}" for="{{ id }}">
            {{ label }}
        </label>
        {% if hint %}
            <div id={{ name }}-hint" class="govuk-hint">
                {{ hint }}
            </div>
        {% endif %}
        {% if error %}
            <p id="{{ name }}-error" class="govuk-error-message">
                {% for error in error %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                {% endfor %}
            </p>
        {% endif %}
        <input class="govuk-input {% if width %}govuk-input--width-{{ width }}{% endif %}{% if input_class %}{{ input_class }}{% endif %} {% if error %}govuk-input--error{% endif %}"
               id="{{ id }}" name="{{ name }}" type="{{ type }}" {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
               autocomplete="off"
                {% if form.cleaned_data|get_item:name %}
                        value="{{ form.cleaned_data|get_item:name }}"
                {% endif %}
        >
    </div>
{% endwith %}
