{% load get_item %}

{% with form_errors|get_item:name as error %}
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset">
            {% if label %}
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--{{ label_size }}">
                    {{ label }}
                </legend>
            {% endif %}
            {% if error %}
                <p id="{{ name }}-error" class="govuk-error-message">
                    {% for error in error %}
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ id_one }}" name="{{ name }}"
                           type="radio" value="{{ value_one }}">
                    <label class="govuk-label govuk-radios__label" for="{{ id_one }}">
                        {{ label_one }}
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ id_two }}" name="{{ name }}"
                           type="radio" value="{{ value_two }}">
                    <label class="govuk-label govuk-radios__label" for="{{ id_two }}">
                        {{ label_two }}
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
{% endwith %}
