{% extends "v2/govuk/base.html" %}

{% block page_title %}Further details about the company{% endblock page_title %}

{% block row_content %}

    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">2. About you</span>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <form novalidate="novalidate" method="post" id="reginterest-your-org-dets-form">
            {% csrf_token %}
            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                    <h1 class="govuk-fieldset__heading">
                        Further details about your client's organisation
                    </h1>

                </legend>


                <p class="govuk-body">Provide as many details as you can. These are optional, but can help us with our investigations into any case you register an interest in.</p>

                {% include "v2/component_macros/text_input.html" with value=submission.organisation.organisation_website id="organisation_website" name="organisation_website" label="Organisation website (optional)" hint="Provide your client’s website if it has one." type="text" width="20" strong=True %}
                {% include "v2/component_macros/text_input.html" with value=submission.organisation.vat_number id="vat_number" name="vat_number" label="VAT registration number (optional)" hint="Some organisations are registered for VAT (Value Added Tax) or an international equivalent." type="text" width="20" strong=True %}
                {% include "v2/component_macros/text_input.html" with value=submission.organisation.eori_number id="eori_number" name="eori_number" label="EORI number (optional)" hint="The organisation will have an EORI (Economic Operators Registration and Identification) number if you have brought goods into the UK or EU." type="text" width="20" strong=True %}
                {% include "v2/component_macros/text_input.html" with value=submission.organisation.duns_number id="duns_number" name="duns_number" label="DUNS number (optional)" hint="The organisation may have a 9-digit DUNS (Data Universal Numbering System) number." type="text" width="20" strong=True %}

                {% include 'v2/component_macros/form_button_group.html' with forward_button_text='Continue' %}


            </fieldset>


        </form>

    </div>

{% endblock row_content %}
