{% extends "v2/govuk/base.html" %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2. About you</span>

    <form method="post" novalidate="novalidate">

        {% csrf_token %}
        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                    <h1 class="govuk-fieldset__heading">
                        Is your client a UK-registered company?
                    </h1>

                </legend>


                <div class="govuk-radios govuk-radioss" data-module="govuk-radios">


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-uk-reg" name="reginterest-uk-reg"
                               type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="reginterest-uk-reg">
                            Yes
                        </label>

                    </div>


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-uk-reg-2" name="reginterest-uk-reg"
                               type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="reginterest-uk-reg-2">
                            No
                        </label>

                    </div>


                </div>


            </fieldset>


        </div>


        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How do I find out if my client is registered in the UK?
    </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">Search the <a href="https://www.gov.uk/get-information-about-a-company"
                                                    target="_blank" rel="noopener noreferrer" class="govuk-link">Companies
                    House Register (opens in a new tab)</a>.</p>
                <p>If you cannot find the company on the register, select ‘No’. This means your client’s company is not
                    registered in the UK.</p>
            </div>
        </details>


        <div class="govuk-button-group">


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'interest_primary_contact' case_id %}">Back</a>
        </div>

    </form>

    <!-- Test data
   <div class="govuk-inset-text">
     Test data: <br>
     Org type :
     <br>
   </div>
   -->

</div>


{% endblock main_content %}