{% extends "v2/registration_of_interest/base_form.html" %}

{% block noheading %}{% endblock noheading %}
{% block page_title %}Is your client a UK registered company?{% endblock page_title %}

{% block form_content %}

    {% with form_errors.uk_employer as error %}
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                    <h1 class="govuk-fieldset__heading">
                        Is your client a UK registered company?
                    </h1>

                </legend>

                {% if error %}
                    <p id="uk_employer-error" class="govuk-error-message">
                        {% for error in error %}
                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
                <div class="govuk-radios govuk-radioss" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="uk_employer" name="uk_employer"
                            type="radio" value="yes" {% if submission.organisation and submission.organisation.country == "GB" %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="uk_employer">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-uk-reg-2" name="uk_employer"
                            type="radio" value="no" {% if submission.organisation and submission.organisation.country != "GB" %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="reginterest-uk-reg-2">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>


        </div>
    {% endwith %}

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                How do I find out if my client is a UK Registered company?
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">Search for the organisation on the <a
                href="https://www.gov.uk/get-information-about-a-company"
                target="_blank" rel="noopener noreferrer" class="govuk-link">Companies
                House Register (opens in a new tab)</a>.</p>
            <p class="govuk-body">If the organisation is not on the register, it is not a UK registered company. Select "No".</p>
        </div>
    </details>

    {% include 'v2/component_macros/form_button_group.html' %}


{% endblock form_content %}
