{% extends "v2/govuk/base.html" %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">2.  About you</span>
    <h1 class="govuk-heading-xl">Who is your primary client contact?</h1>
    <p>This is the main person you work with from the organisation you are representing.</p>


    <form method="post" novalidate="novalidate">

        {% csrf_token %}
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="reginterest-client-name">
                Contact name
            </label>

            <input class="govuk-input govuk-input--width-20" id="reginterest-client-name" name="reginterest-client-name"
                   type="text" autocomplete="name">

        </div>


        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="reginterest-client-email">
                Contact email address
            </label>

            <input class="govuk-input govuk-input--width-20" id="reginterest-client-email"
                   name="reginterest-client-email" type="email" autocomplete="email">

        </div>


        <div class="govuk-button-group">


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'interest_client_type' case_id %}">Back</a>


        </div>
    </form>
</div>

{% endblock main_content %}