{% extends "v2/govuk/base.html" %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    {% if form_errors.error_summaries %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
         data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in form_errors.error_summaries %}
                <li>
                    <a href="#{{ error.0 }}">{{ error.1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <span class="govuk-caption-xl">2.  About you</span>
    <h1 class="govuk-heading-xl">Who is your primary client contact?</h1>
    <p>This is the main person you work with from the organisation you are representing.</p>


    <form method="post" novalidate="novalidate">

        {% csrf_token %}
        {% include 'v2/component_macros/text_input.html' with label="Contact name" id="name" name="name" type="text" width="20" strong=True %}
        {% include 'v2/component_macros/text_input.html' with label="Contact email address" id="email" name="email" type="text" width="20" strong=True %} {# /PS-IGNORE #}



        <div class="govuk-button-group">


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'interest_client_type' case_id %}">Back</a>


        </div>
    </form>
</div>

{% endblock main_content %}