{% extends "v2/registration_of_interest/base_form.html" %}

{% block nocaption %}
    <span class="govuk-caption-xl">4. Register interest</span>
{% endblock nocaption %}

{% block back_button_link %}{% url 'roi_submission_exists' submission_id=submission.id %}{% endblock back_button_link %}
{% block heading %}Review your answers{% endblock heading %}

{% block form_content %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Case details
            </dt>
            <dd class="govuk-summary-list__value">
                {{ submission.case.reference }} - {{ submission.case.name }}
            </dd>
        </div>
    </dl>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Registering interest for
            </dt>
            <dd class="govuk-summary-list__value">
                <p>My employer:</p>
                {{ submission.organisation.name }}
                <br>
                {{ submission.organisation.address }} <br>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a href="{% url 'interest_client_type' submission_id=submission_id %}">
                    Change
                    <span class="govuk-visually-hidden"> who is registering interest</span>
                </a>
            </dd>
        </div>

    </dl>
    <dl class="govuk-summary-list govuk-!-margin-bottom-2">
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Uploaded initial documentation
            </dt>
            <dd class="govuk-summary-list__value">
                {% for document in submission.paired_documents %}
                    {{ document.confidential.name }}<br>
                    {{ document.non_confidential.name }}<br>
                {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a href="{% url 'roi_3_registration_documentation' submission_id=submission_id %}">
                    Change
                    <span class="govuk-visually-hidden"> initial documentation</span>
                </a>
            </dd>
        </div>
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    {% include "v2/component_macros/checkbox.html" with name="authorised" id="authorised" label="I am authorised to provide this information." %}
    {% include 'v2/component_macros/form_button_group.html' with forward_button_text="Confirm and submit application" %}

{% endblock form_content %}
