{% extends "v2/govuk/base.html" %}
{% load format_date %}

{% block page_title %}
    Registration of Interest Application
{% endblock page_title %}

{% block row_content %}
    {% with case=submission.case %}
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">
                Registration of Interest application
            </h1>

            <h2 class="govuk-heading-m">Your application</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Application status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p>
                            {{ submission.status.public_name }}<br>
                            {% if submission.status.draft %}
                                <span id="date">{{ submission.created_at|date:'d M y' }}</span>
                            {% elif submission.status.locking %}
                                <span id="date">{{ submission.received_at|date:'d M y' }}</span>
                            {% endif %}
                        </p>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case details
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <p><a href="">
                            {{ case.reference }} - {{ case.name }}
                        </a><br>
                        </p>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Interested party
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if user.contact.organisation.id == submission.organisation.id %}
                            <p>My organisation:</p>
                        {% else %}
                            <p>My client:</p>
                        {% endif %}

                        {{ submission.organisation.name }}
                        <br>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Initial documentation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for document in submission.paired_documents %}
                            {{ document.confidential.name }}<br>
                            {{ document.non_confidential.name }}<br>
                        {% endfor %}
                    </dd>
                </div>
            </dl>
            {% if submission.status.draft %}
                <div class="govuk-button-group">
                    <a href="{% url 'roi_submission_exists' submission_id=submission.id %}" role="button"
                       draggable="false" class="govuk-button" data-module="govuk-button">
                        Continue application
                    </a>
                    <a class="govuk-link govuk-link--no-visited-state"
                       href="{% url 'roi_delete_roi' submission_id=submission.id %}">Delete
                        application</a>
                </div>
            {% endif %}
        </div>

        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="link"
                               href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process"
                               target="_blank">Trade remedies investigations process (opens in a new window or tab)</a>
                        </li>

                        <li>
                            <br>
                            <strong>Email the case team</strong> {# /PS-IGNORE#}
                            <a class="govuk-link govuk-link--no-visited-state" href="">
                                {{ case.reference }}@traderemedies.gov.uk {# /PS-IGNORE#}
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    {% endwith %}
{% endblock row_content %}


