{% extends "v2/govuk/base.html" %}
{% load set %}
{% load static %}

{% block page_title %}Upload registration documentation{% endblock page_title %}
{% block back_button_link %}{% url 'roi_submission_exists' submission_id=submission.id %}{% endblock back_button_link %}

{% block main_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">3. Documentation</span>
            <h1 class="govuk-heading-xl">
                Registration documentation
            </h1>
            <p>Download the documentation and complete the relevant forms. Once complete, upload two versions of each:
                one
                confidential and one non-confidential (max. file size 30MB).</p>
            <ul class="govuk-list">
                {% for document in submission.documents %}
                    {% if document.system %}
                        <li>
                            <a href="{{ document.file }}" target="_blank" class="govuk-link--no-visited-state" download>
                                <img src="{% static 'v2/assets/images/file_icons/'|add:document.extension|add:'.png' %}" alt="File icon" width="24px">
                                {{ document.name }}
                                ({{ document.size|filesizeformat }})
                            </a><span style="display:none;">✓</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      How to create a non-confidential version of your registration documentation
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>So that all interested parties get the opportunity to understand case evidence, one version needs
                        to be non-confidential. Remove all sensitive data from your non-confidential files.</p>
                    <p>Create one confidential file containing all details, and one file containing only information
                        open to the public. For more help, see: <a
                                href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries"
                                target="_blank" class="link govuk-link--no-visited-state">creating confidential and
                            non-confidential documents (opens in a new window or tab)</a></p>

                </div>
            </details>
            <form method="post">
                {% csrf_token %}
                <div id="registration_documents">
                    {% for document_pair in uploaded_documents %}
                        {% include "v2/component_macros/confidental_and_non_confidential_file_upload.html" with document_pair=document_pair label="Upload document" %}
                    {% endfor %}
                    {% include "v2/component_macros/confidental_and_non_confidential_file_upload.html" with label="Upload document" loop_counter=last_document_counter %}
                </div>
                <button class="govuk-button govuk-button--secondary govuk-!-margin-top-2" type="button" id="add_document_button"
                        data-module="govuk-button">
                    Add another document
                </button>
                {% include "v2/component_macros/form_button_group.html" with forward_button_text="Continue" %}
            </form>
        </div>
    </div>
{% endblock main_content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"
            integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ=="  {# /PS-IGNORE #}
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'v2/js/drag_and_drop.js' %}"></script>
    <script type="text/javascript">
        $('a[download]').click(function () {
            $(this).next().show()
        })
    </script>

{% endblock scripts %}
