{% extends "v2/govuk/base_with_form.html" %}
{% load format_date %}

{% block page_title %}Select Trade Remedies Case{% endblock page_title %}

{% block header_caption %}
    <span class="govuk-caption-xl">1. Select case</span>
{% endblock header_caption %}

{% block heading %}
    Select a Trade Remedies case
{% endblock heading %}

{% block form_content %}
    <h2 class="govuk-heading-m">{{ case_reference }} - {{ case_name }}</h2>
    <p class="govuk-body">Registration due date: {% format_date case_registration_deadline '%d %b %Y' %}</p>
    <p class="govuk-body">The due date has now passed. You can still register interest, but your opportunities to participate may
        be
        limited.</p>
    <p class="govuk-body">We encourage anyone with an interest to register.</p>
    <input name="confirmed_okay_to_proceed" value="yes" type="hidden">
    <input name="case_information" value="{{ case_information }}" type="hidden">

    {% include "v2/component_macros/form_button_group.html" %}
{% endblock form_content %}
