{% extends "v2/govuk/base.html" %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Register interest in a case
    </h1>
    <p class="govuk-body">Complete all the steps to register your interest in an active Trade Remedies investigation.  </p>

    <p class="govuk-body govuk-!-margin-bottom-7">Return to your dashboard at another time to continue if you leave before you finish.</p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Your case
        </h2>
        <ul class="app-task-list__items">

          <!--If the user is trying to reg interest show: -->



    <li class="app-task-list__item">
      <span class="app-task-list__task-name">
        <a href="/case/v2/select/" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
          Select a Trade Remedies case
        </a>
      </span>
      {% if case %}
        <strong class="govuk-tag app-task-list__tag" id="case-selected-status">Complete</strong>
      {% else %}
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
      {% endif %}
    </li>





        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>About you
        </h2>
        <ul class="app-task-list__items">

          <!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->


  <!-- Public - reginterest org - organisation - if the user has completed section 2 show: -->

      <!-- If the user has started section 2 show: -->

        <!-- If the user has not started section 2 show -->

        <li class="app-task-list__item">
            {% if case %}
                <a href="/case/interest/{{case.id}}/company/" class="govuk-link--no-visited-state" aria-describedby="case-selected-status">
                  Organisation details
                </a>
                {% if submission.organisation.name %}
                    <strong class="govuk-tag app-task-list__tag" id="organisation-selected-status">Complete</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                {% endif %}
            {% else %}
                <span class="app-task-list__task-name" aria-describedby="organisation-selected-status">
                Organisation details
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
            {% endif %}
        </li>







        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Registration documentation
        </h2>
        <ul class="app-task-list__items">

          <!-- Reg Interest -->
<!-- Reg Interest -->



<!-- If the user has completed org details show: -->


  <!-- If the user has completed Uploads show: -->
  <!-- If the user has completed Uploads show: -->

      <!-- If the user has visited Uploads show: -->

          <!-- If the user has not started Uploads but has completed section 2 show: -->

                {% if submission.organisation != submission.contact.organisation %}
                <li class="app-task-list__item">
                  <a class="govuk-link--no-visited-state" aria-describedby="loa-upload-status" href="/case/{{case_id}}/submission/{{submission.id}}/upload/loa/">
                    Letter of Authority
                  </a>
                        {% if loa_is_uploaded %}
                            <strong class="govuk-tag app-task-list__tag">Complete</strong>
                        {% else %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% endif %}

                </li>
                {% endif %}

                <li class="app-task-list__item">
                    {% if submission.organisation.name %}
                        <a class="govuk-link--no-visited-state" aria-describedby="pre-sampling-upload-status" href="/case/{{case_id}}/submission/{{submission.id}}/upload/">
                        Initial documentation
                        </a>
                        {% if count_customer_docs == 0 %}
                            <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
                        {% elif count_customer_docs == 1 %}
                            <strong class="govuk-tag app-task-list__tag">1 Document Uploaded</strong>
                        {% elif customer_docs_paired %}
                            <strong class="govuk-tag app-task-list__tag">Complete</strong>
                        {% elif count_customer_docs > 1 %}
                            <strong class="govuk-tag app-task-list__tag">{{ count_customer_docs }} Documents Uploaded</strong>
                        {% endif %}

                    {% else %}
                        <span class="app-task-list__task-name" aria-describedby="pre-sampling-upload-status">
                        Initial documentation
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="pre-sampling-upload-status">Cannot start yet</strong>
                    {% endif %}

                </li>




















        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Register interest
        </h2>
        <ul class="app-task-list__items">

          <!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->
<!--If the user is trying to reg interest show: -->

  <!-- If the user has completed Check and submit show: -->

      <!-- If the user has started Check and submit show: -->

      <!-- If the user not started Check and it is not their org loa and pre docs are uploaded -->

          <!-- If the user not started Check and it is their org and pre docs are uploaded -->

          <li class="app-task-list__item">
              {% if loa_is_uploaded and count_customer_docs == 2 %}
                    <a class="govuk-link--no-visited-state" aria-describedby="check-status" href="/case/{{case_id}}/submission/{{submission.id}}/submit/">Check and submit</a>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Not started</strong>
              {% else %}
                    <span class="app-task-list__task-name">
                        Check and submit
                    </span>
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="check-status">Cannot start yet</strong>
              {% endif %}
          </li>







        </ul>
      </li>
    </ol>

    <a class="govuk-link govuk-link--no-visited-state" href="{% url 'dashboard' %}">Back to Dashboard</a>

  </div>

<div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">Read the guidance documents</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process" target="_blank" class="govuk-link govuk-link--no-visited-state">Trade remedies investigations process (opens in a new window or tab)</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#confidential-information-and-non-confidential-summaries" target="_blank" class="govuk-link govuk-link--no-visited-state">Creating confidential and non-confidential documents (opens in a new window or tab)</a>
          </li>
          <li>
            <a href="https://www.gov.uk/government/publications/the-uk-trade-remedies-investigations-process/an-introduction-to-our-investigations-process#about-our-questionnaires" target="_blank" class="govuk-link govuk-link--no-visited-state">About our questionnaires (opens in a new window or tab)</a>
          </li>
          {% if case %}
          <li>
            <br>
            <strong>Email the case team</strong>

                <a class="govuk-link govuk-link--no-visited-state" href="">{{ case.reference }}@traderemedies.gov.uk</a>

          </li>
          {% endif %}
        </ul>
      </nav>
    </aside>
  </div>

{% endblock main_content %}