{% extends "v2/registration_of_interest/base_form.html" %}

{% block noheading %}{% endblock noheading %}
{% block page_title %}Which organisation do you work for{% endblock page_title %}

{% block form_content %}
    {% with form_errors.org as error %}
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        Which organisation do you work for?
                    </h1>
                </legend>
                {% if error %}
                    <p id="org-error" class="govuk-error-message">
                        {% for error in error %}
                            <span class="govuk-visually-hidden">Error:</span> {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="org" name="org"
                            type="radio" value="my-org" {% if submission and submission.organisation.id == request.user.contact.organisation.id %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="org">
                            I work for the organisation registering an interest in this case
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-what-org-2" name="org"
                            type="radio" value="representative" {% if request.session.roi_org_chosen == "representative" %}checked{% endif %}>
                        <label class="govuk-label govuk-radios__label" for="reginterest-what-org-2">
                            I am a representative, registering interest in this case on behalf of another organisation
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    {% endwith %}
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                What is a representative?
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">
                A representative is a person who works on behalf of the organisation registering interest, but isn't an
                employee of that organisation. This includes, for example, a person working for a law firm or a
                consulting business.
            </p>
        </div>
    </details>
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </div>
{% endblock form_content %}
