{% extends "v2/govuk/base.html" %}

{% block main_content %}

<div class="govuk-grid-column-two-thirds">
    {% if form_errors.error_summaries %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert"
         data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for error in form_errors.error_summaries %}
                <li>
                    <a href="#{{ error.0 }}">{{ error.1 }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <span class="govuk-caption-xl">2. About you</span>


    <form method="post" novalidate="novalidate">


        <!-- Set the name of the org if is is "my org" whether from regsitering or default-->

        {% csrf_token %}
        {% with form_errors.org as error %}
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                    <h1 class="govuk-fieldset__heading">
                        Who is registering interest in this case?
                    </h1>

                </legend>
                {% if error %}
                <p id="org-error" class="govuk-error-message">
                    {% for error in error %}
                    <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    {% endfor %}
                </p>
                {% endif %}


                <div class="govuk-radios" id="org" data-module="govuk-radios">


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-what-org" name="org"
                               type="radio" value="my-org">
                        <label class="govuk-label govuk-radios__label" for="reginterest-what-org">


                            My organisation: BlueSteel Partners


                        </label>

                    </div>


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-what-org-2" name="org"
                               type="radio" value="existing-org">
                        <label class="govuk-label govuk-radios__label" for="reginterest-what-org-2">
                            An existing client: someone I have previously represented using the Trade Remedies Service
                        </label>

                    </div>


                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reginterest-what-org-3" name="org"
                               type="radio" value="new-org">
                        <label class="govuk-label govuk-radios__label" for="reginterest-what-org-3">
                            A new client: someone I am representing for the first time using the Trade Remedies Service
                        </label>

                    </div>


                </div>


            </fieldset>


        </div>
        {% endwith %}

        <div class="govuk-button-group">


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'interest' %}">Back</a>
        </div>

    </form>
    <!-- Test data -->
    <!--<div class="govuk-inset-text">
      Test data: <br>
      Which org started?: yes<br>
      Type of reg org:
    </div>
  -->
</div>

{% endblock main_content %}