{% extends "v2/registration_of_interest/base_form.html" %}
{% load static %}

{% block error_summaries %}
    {% include 'v2/component_macros/error_summaries.html' with javascript=True input_error_id="company-search" %}
{% endblock error_summaries %}

{% block noheading %}
{% endblock noheading %}

{% block page_title %}Who are you representing{% endblock page_title %}

{% block extra_css %}
    <link href="{% static 'v2/css/accessible-autocomplete.min.css' %}" rel="stylesheet">
{% endblock %}

{% block form_content %}
    {% with form_errors.company_data as error %}
        {# when JS is disabled #}
        <div class="govuk-form-group govuk-form-group--error without-js">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" for="search-reg-org">
                    Who are you representing?
                </label>
            </h1>
            <div id="sort-hint" class="govuk-hint">
                Search Companies House to find your client's UK registered company details.
            </div>
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error: </span>
                You cannot use the Companies House search feature
                because JavaScript is not running in your browser. To fix this, try:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-error-message">
                <li>turning on JavaScript in your browser settings</li>
                <li>reloading this page</li>
            </ul>
            <p class="govuk-error-message">
                If you cannot turn on JavaScript, you will need to <span class="govuk-error-summary__list"><a href="{% url "interest_ch_no" submission_id contact_id %}">enter your organisation details manually</a></span>.
            </p>
            <input class="govuk-input" id="company-search" name="search-reg-org" placeholder="Enter a registered company name or number" disabled />
        </div>

        {# when JS is enabled #}
        <div class="govuk-form-group with-js {% if error %}govuk-form-group--error{% endif %}">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" for="search-reg-org">
                    Who are you representing?
                </label>
            </h1>
            <div id="sort-hint" class="govuk-hint">
                Search Companies House to find your client's UK registered company details.
            </div>
            {% if error %}
                <p id="uk_employer-error" class="govuk-error-message">
                    {% for error in error %}
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
            <div id="company_search_container"></div>
        </div>
    {% endwith %}

    <div style="display:none;" id="selected_company_wrapper">
        <p>Check the details below carefully. If it does not match the details of the organisation, you should go back
            to
            the previous page and select "No".</p>
        <div class="govuk-inset-text" id="selected_company"></div>
    </div>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                If you can’t find the organisation
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">Search for the organisation on the <a
                href="https://www.gov.uk/get-information-about-a-company" target="_blank"
                rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab)</a>.
            </p>
            <p>If the organisation is not on the register, it is not a UK registered company. Go back to the previous
                page
                and select "No".</p>
        </div>
    </details>
    {% include 'v2/component_macros/form_button_group.html' with forward_button_text="I confirm these details are correct" javascript=True %}
    <input type="hidden" name="company_data">
{% endblock form_content %}

<!-- Function accessibleAutocomplete below is from https://alphagov.github.io/accessible-autocomplete/ -->

{% block scripts %}
    <script src="{% static 'v2/js/accessible-autocomplete.min.js' %}"></script>
    <script>const redirect_url = "{% url "interest_ch_no" submission_id contact_id %}";</script>
    <script src="{% static 'v2/js/companies_house_search.js' %}"></script>
{% endblock %}
