{% extends "base.html" %}
{% load alert_message %}
{% load to_json %}
{% load set %}

{% block row_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <div class="breadcrumbs" data-module="track-click">
      <ol>
        <li class="">
            <a data-track-category="breadcrumbClicked" data-track-action="1" class=""
               aria-current="false" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li data-track-category="breadcrumbClicked" data-track-action="2"   class="" aria-current="false" >
          Manage your team
        </li>
      </ol>
    </div>

    {% load alert_message %}
    <h1 class="heading-large">Manage your team</h1>

    <p>From here, you can:</p>
      <ul class="list-bullet indent">
        <li>invite colleagues to your account</li>
        <li>assign or remove case access</li>
        <li>deactivate accounts</li>
      </ul>
    <p></p>
    <p>An invited colleague needs to set up their account before being added to cases.</p>

  </div>
  <div class="column-one-third">
    {% include "partials/widgets/org_display_small.html" %}
    {% include "partials/widgets/help_box.html" %}
  </div>
</div>
<div class="grid-row manage-team-page">
    <div class="column-full">
      <table data-attach="TableSort" class="">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col" class="no-sort">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr class="{% if not user.active %}line-through {% endif %}">
          <td title="{{user.name}}"><a href="/accounts/team/{{user.organisation.id}}/user/{{user.id}}/edit/">{{user.name}}</a></td>
          <td>
            {% if 'Third Party User' in user.groups %}
              Third Party User
            {% elif user.organisation.role.security_group == 'Organisation Owner' %}
              Administrator
            {% else %}
              User
            {% endif %}
          </td>
          <td>
            <a href="/accounts/team/{{user.organisation.id}}/user/{{user.id}}/cases/?edit=1" class="nobreak">Assign/remove case</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Only show the drafts section if there are drafts -->
      {% set 'drafts' False %}
      {% set 'pending' False %}
      {% for submission in pending_assignments %}
        {% if submission.status.draft or submission.status.default %}
          {% set 'drafts' True %}
        {% endif %}
        {% if submission.status.received and not submission.status.review %}
          {% set 'pending' True %}
        {% endif %}
      {% endfor %}
      {% for loop in '01' %}
         {% if loop == '0' and store.pending or loop == '1' and store.drafts %}
          {% if loop == '0' %}
            <h2 class="heading-medium">Pending user case assignments</h2>
          {% else %}
            <h2 class="heading-medium">Draft user case assignments</h2>
          {% endif %}
          <table class="table-action-column" data-attach="TableSort">
              <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Case</th>
                    <th scope="col">Representing</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for submission in pending_assignments %}
                    <tr>
                    {% set 'good' False %}
                    {% if loop == '0' %}
                      {% if submission.status.received and not submission.status.review %}
                        {% set 'good' True %}
                      {% endif %}
                    {% else %}
                      {% if submission.status.draft or submission.status.default %}
                        {% set 'good' True %}
                      {% endif %}
                    {% endif %}
                    {% if good %}
                      {% set 'user' submission.contact.user %}
                        <td>{{user.name}}</td>
                        <td>{{submission.case.name}}</td>
                        <td>{{submission.organisation.name}}</td>
                        <td>
                            <a href="/case/{{submission.case.id}}/submission/{{submission.id}}/">
                              <span>
                                {% if loop == '0' %}
                                  View assignment
                                {% else %}
                                  Edit draft
                                {% endif %}
                              </span>
                            </a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endfor %}

      {% if invites or third_party_invites %}
        <h2 class="heading-medium">Pending user invitations</h2>

        <table data-attach="TableSort">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col" class="no-sort">Action</th>
            </tr>
          </thead>
          <tbody>
          {% for invite in invites %}
            <tr>
              <td title="{{invite.meta.name}}"><a href="/accounts/team/{{user.organisation.id}}/invite/{{invite.id}}/edit/">{{invite.meta.name}}</a></td>
              <td>
                {% if user.organisation.role.security_group == 'Organisation Owner' %}
                  Administrator
                {% else %}
                  User
                {% endif %}
              </td>
              <td>
                <form class="inline" data-attach="ConfirmPost" action="/accounts/team/{{user.organisation.id}}/invite/{{invite.id}}/delete/" method="post">
                  <button class="link no-debounce" type="submit">Cancel invitation</button>
                  {% csrf_token %}
                  <span class="hidden confirmation-message">Are you sure you want to delete this invitation?</span>
                  <span class="hidden confirmation-title">Confirm delete</span>
                </form>
              </td>
            </tr>
          {% endfor %}
          {% for invite in third_party_invites %}
            <tr>
              <td title="{{invite.contact.name}}">{{invite.contact.name}}</td>
              <td>Third Party User</td>
              <td>
                {% if invite.locked %}
                  <form class="inline" action="/case/{{invite.case.id}}/submission/{{invite.submission.id}}/" method="get">
                    <button class="link no-debounce" type="submit">View invitation</button>
                  </form>
                {% else %}
                  <form class="inline" action="/case/invite/{{invite.case.id}}/submission/{{invite.submission.id}}/" method="get">
                    <button class="link no-debounce" type="submit">Update invitation</button>
                  </form>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      {% endif %}
      <a class="button margin-top-1" id="lnk_invite_colleague" href="{% url 'invitation_start' %}">Invite colleague</a>
      <div class="margin-top-1">
        <a class="link" href="{% url 'dashboard' %}">Back</a>
      </div>
    </div>
  </div>

{% endblock %}
