{% extends "account/user-edit-base.html" %}
{% load text_element %}

{% block task_name1 %}
	{% if create_mode %}
		Invite a colleague
	{% else %}
		Edit contact details
	{% endif %}
{% endblock %}
{% block task_name2 %}
	{% if create_mode %}
		Enter contact details
	{% else %}
		Edit contact details
	{% endif %}
{% endblock %}
{% block page_title %}
	{% if self_details %}
		Account details
	{% else %}
		{{ page_title }}
	{% endif %}
{% endblock %}

{% block form_content %}
	<div class="form-group">
		{% if create_mode %}
			<div class="warning-text">
				Do not add members of other organisations to your account.
			</div>

		{% else %}
			{% if self_details %}
				Use this form to edit your name and contact details.
			{% else %}
				Use this form to edit the user's name and contact details.
			{% endif %}
		{% endif %}
	</div>
	{% text_element id='name' label='Name' autocomplete="off" errors=errors value=user_record.name %}
	{% text_element id='email' label='Email (username)' errors=errors value=user_record.email read_only=existing_user_id %}
	{% text_element id='phone' label='Phone number' type='tel' autocomplete='off' errors=errors value=user_record.phone %}

	{% text_element id='address' textarea=True label='Address' errors=errors value=user_record.address %}
	<div class="form-group edit-item type-text ">
		<label class="form-label" for="country">Country</label>
		{% if errors.organisation_country %}<span class="error-message" id="country_error">{{ errors.organisation_country }}</span>{% endif %}
		<select class="form-control" name="country" id="country">
			<option value="">Please select ...</option>
			{% for country_code, country_name in countries %}
				<option
					value="{{country_code}}"
					{% if user_record.country_code == country_code %}selected{% endif %}
				>{{country_name}}</option>
			{% endfor %}
		</select>
	</div>

	{% if not user_record.id %}
	{% if errors.group %}<span class="error-message" id="group_error">{{ errors.group }}</span>{% endif %}
	<div class="form-group">
		<label for="email" class="form-label">How will the user interact with the trade remedies system?</label>

		<details>
			<summary>More details</summary>
			<text>
				<div class="panel panel-border-wide">
					<p>
						All users can:
						<ul class="list-bullet indent">
							<li>see the details of cases they have been granted access to</li>
							<li>register interest in a case</li>
							<li>apply for an investigation or review of measures (when made available)</li>
						</ul>
					</p>
					<p>
						Administrators can also:
						<ul class="list-bullet indent">
							<li>see all cases that account members have participated in</li>
							<li>add themselves to active cases</li>
							<li>invite colleagues into your account</li>
							<li>grant or revoke access to cases</li>
							<li>deactivate accounts</li>
						</ul>
						Accounts can have several administrators.
					</p>
				</div>
			</text>
		</details>
	   {% set 'security_group' user_record.group %}
		{% if user_record.organisation.role.security_group %}
		   {% set 'security_group' user_record.organisation.role.security_group %}
	   {% endif %}
		 {% for group in groups %}
		   <div class="multiple-choice">
			   <input
				   type="radio"
				   id="role_{{forloop.counter}}"
				   name="group"
				   value="{{group.0}}"
				   {% if group.0 == security_group %}checked{% endif %}
			   />
			   {% set 'perm_name' 'Regular user with access to selected cases only' %}
			   {% if group.0 == 'Organisation Owner' %}
				   {% set 'perm_name' 'Administrator with the ability to assign cases and add new users' %}
			   {% endif %}
			   {% if group.0 == 'Third Party User' %}
			   	   {% set 'perm_name' 'Regular user who is representing your organisation on this case - Lawyer, Trade Body' %}
			   {% endif %}
				<label for="role_{{forloop.counter}}" class="form-label">{{ perm_name }}</label>
		   </div>
	   {% endfor %}
   </div>
   {% endif %}
	{% if create_mode and not user_record.wizard_complete %}
		<!-- <input type="hidden" name="redirect" value="permissions/"> -->
	{% endif %}
{% endblock %}
