{% extends "../base_submit.html" %}
{% load organisation_name %}
{% block breadcrumb_current %}Submit evidence{% endblock %}
{% block page_subtitle %}4. Final check and submit{% endblock %}
{% block page_title %}Send your submission{% endblock %}

{% block submission_main_text %}
    <p>Once you submit this form you will not be able to make changes to your submitted information.</p>
    <p>If you become aware of any errors or omissions please notify the {% organisation_name %} as quickly as possible.</p>
{% endblock %}

{% block submission_checkbox_label %}
    My submission is complete and I am happy for the {% organisation_name %} to consider it
{% endblock %}
