{% extends "../base_view.html" %}

{% block head %}
    {{ block.super }}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'submit_evidence',
            'user_id': '{{request.user.id}}',
            'case_id': '{{case_id}}',
        });
    </script>
{% endblock %}

{% block breadcrumb_current %}Submit evidence{% endblock %}
{% block page_subtitle %}Submit evidence{% endblock %}
{% block page_title %}Evidence submitted{% endblock %}


{% block feedback_content %}
    {{ block.super }}
    {% include "v2/feedback/stars_partial.html" with  journey="V1 Evidence submitted" %}
{% endblock feedback_content %}
