{% extends 'v2/govuk/base.html' %}

{% block page_title %}Who is registering interest{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">2. About your representative</span>
        <form method="post">
            {% csrf_token %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Who does your representative work for?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        {% for invitation in invitations_sent %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="{{ invitation.organisation_id }}" name="organisation"
                                       type="radio" value="{{ invitation.organisation_id }}">
                                <label class="govuk-label govuk-radios__label" for="{ invitation.organisation_id }}">
                                    {{ invitation.organisation_name }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="new" name="organisation"
                                   type="radio" value="new">
                            <label class="govuk-label govuk-radios__label" for="new">
                                An organisation that has not represented us before
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% include "v2/component_macros/form_button_group.html" %}
        </form>
    </div>
{% endblock row_content %}
