{% extends 'v2/govuk/base.html' %}

{% block page_title %}Review your answers{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% csrf_token %}
            <h1 class="govuk-heading-xl">Review your answers</h1>
            <h2 class="govuk-heading-m">Your invite</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if invitation.organisation.id == request.user.contact.organisation.id %}
                            Employee of your org
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="{% url 'invitation_start_existing' invitation_id=invitation.id %}"
                            class="govuk-link govuk-link--no-visited-state">
                            Change
                            <span class="govuk-visually-hidden"> user type</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ invitation.name }}<br>
                        {{ invitation.email }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="{% url 'invitation_name_email' invitation_id=invitation.id %}"
                            class="govuk-link govuk-link--no-visited-state">
                            Change
                            <span class="govuk-visually-hidden"> who is being invited</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Permissions
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if invitation.organisation_security_group == group_owner %}
                            Admin user
                        {% elif invitation.organisation_security_group == group_regular %}
                            User
                        {% endif %}<br>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="{% url 'invitation_select_permissions' invitation_id=invitation.id %}"
                            class="govuk-link govuk-link--no-visited-state">
                            Change
                            <span class="govuk-visually-hidden"> users permissions</span>
                        </a>
                    </dd>
                </div>
                {# if the org hasn't been enrolled in any cases, then this will always be empty and cannot be changed, don't show the row #}
                <div class="govuk-summary-list__row{% if not organisation.user_cases %} govuk-summary-list__row--no-actions{% endif %}">
                    <dt class="govuk-summary-list__key">
                        Cases invited to
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if not invitation.user_cases_to_link %}
                            None
                        {% else %}
                            <ul class="govuk-list">
                                {% for user_case in invitation.user_cases_to_link %}
                                    <li>
                                        {{ user_case.case.reference }} - {{ user_case.case.name }}<br/>
                                        {% if user_case.organisation.id != request.user.contact.organisation.id %}
                                            {# This org is a representative on this case, and so we should show a hint telling the user who they are representing on this case #}
                                            <span class="govuk-hint">{{ user_case.organisation.name }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                    {% if organisation.user_cases %}
                        <dd class="govuk-summary-list__actions">
                            <a href="{% url 'invitation_choose_cases' invitation_id=invitation_id %}"
                                class="govuk-link govuk-link--no-visited-state">
                                Change
                                <span class="govuk-visually-hidden"> case</span>
                            </a>
                        </dd>
                    {% endif %}
                </div>
            </dl>
            <h2 class="govuk-heading-m">Now send your invite</h2>
            <p class="govuk-body">The invite will ask the new user to register. This will give them access to your organisation’s
                account.</p>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm and submit invite
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="javascript: history.back()">Back</a>
            </div>
        </form>
    </div>
{% endblock row_content %}
