{% extends 'v2/govuk/base.html' %}

{% block page_title %}User permissions{% endblock page_title %}

{% block row_content %}

    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            {% csrf_token %}
            {% include 'v2/component_macros/two_radio_buttons.html' with value_one=group_regular value_two=group_owner label_size='xl' label="Select permissions" id_one="regular" label_one="Regular user: they can access and interact with specific cases" id_two="admin" label_two="Admin user: they can access and interact with cases, assign cases and manage other team members" name="type_of_user" %}
            {% include 'v2/component_macros/form_button_group.html' %}
        </form>

    </div>
{% endblock row_content %}
