{% extends 'v2/govuk/base.html' %}

{% block page_title %}Check and submit{% endblock page_title %}
{% block back_button %}{% endblock back_button %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Invite sent
            </h1>
        </div>

        <p>We have sent an invite to:</p>
        <p>{{ invitation.name }}: {{ invitation.email }}<br>
            Permission: {% if invitation.organisation_security_group == group_owner %}
                Admin user
            {% elif invitation.organisation_security_group == group_regular %}
                User
            {% endif %}<br>

            {% if cases %}
                Cases: {% if not invitation.cases_to_link %}None{% endif %}
            {% endif %}
        </p>
        {% if invitation.cases_to_link %}
            <ul class="govuk-list govuk-list--bullet">
                {% for case in invitation.cases_to_link %}
                    <li>{{ case.reference }} - {{ case.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Once they have registered, you can manage the cases they are assigned to and change their permissions as you
            require.</p>

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="{% url 'team_view' %}">
                Manage team
            </a>
            <a class="govuk-link govuk-link--no-visited-state" href="{% url 'invitation_start' %}">Invite new user</a>
        </div>

    </div>
{% endblock row_content %}
