{% extends 'v2/govuk/base.html' %}

{% block page_title %}Invite new user{% endblock page_title %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">

        <form novalidate="" method="post">
            {% csrf_token %}
            <h1 class="govuk-heading-xl">
                Who are you inviting?
            </h1>

            {% include "v2/component_macros/text_input.html" with value=invitation.name id="team_member_name" name="team_member_name" label="Your team member’s name" type="text" width="20" strong=True %}
            {% include "v2/component_macros/text_input.html" with value=invitation.email id="team_member_email" name="team_member_email" label="Your team member’s email address" hint="Use their professional or company email." type="email" width="20" strong=True %}
            {% include "v2/component_macros/form_button_group.html" %}
        </form>
    </div>

{% endblock row_content %}
