{% extends "v2/govuk/base.html" %}


{% block page_title %}
    How to get an account
{% endblock %}

{% block row_content %}
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            How to get an account
        </h1>

        <p class="govuk-body">You must ask an admin from your organisation to invite you to join. They can do this from the Manage users link on their dashboard.</p>
        <p class="govuk-body">Once your account is set up, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>request a new trade remedies investigation or review</li>
            <li>participate in an active trade remedies investigation</li>
        </ul>
    </div>
{% endblock row_content %}
