{% extends "v2/govuk/base_with_form.html" %}


{% block page_title %}
    How to get an account
{% endblock %}

{% block heading %}
    How to get an account
{% endblock heading %}

{% block form_content %}
    <p class="govuk-body">You must ask your admin to invite you to the organisation’s account.</p>
    <p class="govuk-body">Once your account is set up, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>request a new trade remedies investigation or review</li>
        <li>participate in an active trade remedies case</li>
    </ul>`
{% endblock form_content %}
