{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your employer
{% endblock %}

{% block fieldset_heading %}
    Your employers details
{% endblock fieldset_heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/accessible-autocomplete.min.css' %}" rel="stylesheet">
{% endblock %}

{% block form_content %}
    {% with form_errors.company_data as error %}
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
            <div id="sort-hint" class="govuk-hint">
                Search the Companies House register for your employer
            </div>
            {% if error %}
                <p class="govuk-error-message">
                    {% for error in error %}
                        <span class="govuk-visually-hidden">Error:</span> {{ error }}<br>
                    {% endfor %}
                </p>
            {% endif %}
            <div id="company_search_container"></div>
        </div>
    {% endwith %}
    <div style="display:none;" id="selected_company_wrapper">
        <p class="govuk-body">Check the organisation details below carefully. If it does not match the registered
            details of your employer,
            you should return to the previous step and choose the "New" organisation option.</p>
        <div class="govuk-inset-text" id="selected_company"></div>
    </div>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I can't find my employer
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">You can search for your organisation on the <a
                    href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer"
                    class="govuk-link">Companies House register (opens in a new tab).</a></p>
            <p>If the organisation is not on the register you need to return to the previous page and select "No" your
                employer is not registered in the UK.</p>
        </div>
    </details>
    {% include "v2/component_macros/form_button_group.html" with forward_button_text="I confirm these are the correct details" %}
    <input type="hidden" name="company_data">
{% endblock form_content %}

{% block scripts %}
    <script src="{% static 'v2/js/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript">
        var proposed_names = {}
        accessibleAutocomplete({
            element: document.querySelector('#company_search_container'),
            id: 'my-autocomplete',
            autoselect: true,
            minLength: 3,
            confirmOnBlur: false,
            source: function (query, populateResults) {
                $.ajax
                ({
                    type: "GET",
                    url: `{% url 'companieshouse' %}?term=${query}`,
                    success: function (data) {
                        if (data) {
                            let names = data.map(result => `${result.title} (${result.company_number})`)
                            proposed_names = Object.fromEntries(data.map(result => [`${result.title} (${result.company_number})`, result]));
                            populateResults(names)
                        }

                    }
                });
            },
            onConfirm: function (confirmed_name) {
                if (typeof (confirmed_name) != "undefined") {
                    if (confirmed_name in proposed_names) {
                        let company_data = proposed_names[confirmed_name]
                        $('[name=company_data]').val(JSON.stringify(company_data))
                        $('#selected_company_wrapper').show();
                        $('#selected_company').text(`${company_data.title} (${company_data.company_number}) ${company_data.address_snippet}`)
                        return true
                    }
                    $('#selected_company_wrapper').hide();
                    $('#selected_company').text('')
                }
            }
        })
    </script>
{% endblock %}
