{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your employer
{% endblock %}

{% block heading %}
    Your employer
{% endblock heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/accessible-autocomplete.min.css' %}" rel="stylesheet">
{% endblock %}

{% block form_content %}
    <p class="govuk-body">We ask for the details of your direct employer, not a company you may be representing. You should have permission to create this account on behalf of your employer.</p>
    {% include 'v2/component_macros/text_input.html' with autocomplete="organization" label="Name of your organisation" id="organisation_name" name="organisation_name" type="text" width="20" strong=True %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
                Address of your organisation
            </h1>
        </legend>
        <p class="govuk-body">Provide the address of the main office.</p>
        {% include "v2/component_macros/textarea_input.html" with label="Street address " id="address_snippet" name="address_snippet" rows="5" autocomplete="street-address" %}
        {% include "v2/component_macros/text_input.html" with label="Postcode or Zipcode" id="post_code" name="post_code" width="5" autocomplete="postal-code" type="text"%}
        {% include "v2/component_macros/country_dropdown.html" with id="country" name="country" %}
    </fieldset>
    {% include 'v2/component_macros/text_input.html' with label="Registered company number" id="company_number" name="company_number" type="text" width="10" hint="Most companies have an official registration number from the country they are based in." strong=True %}
    {% include "v2/component_macros/form_button_group.html" with forward_button_text="Continue" %}
{% endblock form_content %}
