{% extends "v2/govuk/base.html" %}
{% if request.user.is_authenticated %}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'event': 'create_account',
            'user_id': '{{request.user.id}}'
        });
    </script>
{% endif %}
{% block back_button %}{% endblock back_button %}
{% block page_title %}
    Email address is verified
{% endblock %}

{% block row_content %}

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Email address is verified
            </h1>
        </div>

        <p class="govuk-body">You can now{% if not request.user.is_authenticated %} sign in and{% endif %} access your
            organisation's Trade Remedies account.</p>
        {% if owner %}
            <p class="govuk-body">You can:</p>
        {% else %}
            <p class="govuk-body">With this account you can:</p>
        {% endif %}
        <ul class="govuk-list govuk-list--bullet">
            {% if owner %}
                <li>request a new trade remedies investigation or review</li>
                <li>participate in an active trade remedies case</li>
                <li>invite an organisation or individual to represent you in an active case</li>
                <li>add a colleague to your account or an active case</li>
            {% else %}
                <li>request a new trade remedies investigation or review</li>
                <li>participate in an active trade remedies case</li>
                <li>invite an organisation or individual to represent you in an active case</li>
            {% endif %}
        </ul>
        <a class="govuk-button" data-module="govuk-button"
            href="{% if request.user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'login' %}{% endif %}">
            Continue
        </a>
    </div>


{% endblock row_content %}
