{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your organisation details
{% endblock %}

{% block heading %}
    Your organisation details
{% endblock heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/accessible-autocomplete.min.css' %}" rel="stylesheet">
{% endblock %}

{% block form_content %}
    <p>This is the organisation you are directly employed by.</p>
    <p class="govuk-body">You are creating an account for this organisation and you will be the primary contact. This is the organisation you are directly employed by.</p>
    {% include 'v2/component_macros/text_input.html' with autocomplete="organization" label="Name of your organisation" id="company_name" name="company_name" type="text" width="20" strong=True %}
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
                Address of your organisation
            </h1>
        </legend>
        <p class="govuk-body">Provide the address of the main office.</p>
        {% include "v2/component_macros/text_input.html" with label="Postcode or zip code" id="post_code" name="post_code" width="5" autocomplete="postal-code" type="text"%}
        {% include "v2/component_macros/country_dropdown.html" with id="country" name="country" %}
    </fieldset>
    {% include 'v2/component_macros/text_input.html' with label="Organisation registration number" id="company_number" name="company_number" type="text" width="10" hint="Some organisations have an official registration number from the country they are based in." strong=True %}
    {% include "v2/component_macros/form_button_group.html" %}
{% endblock form_content %}
