{% extends "v2/govuk/base.html" %}
{% load pop_session %}
{% block page_title %}
    Your account has been created
{% endblock %}

{% block main_content %}

    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Account created
            </h1>
        </div>
        {% if request|pop_session:"email_verification_link_resent" %}
            <div class="govuk-inset-text">
                We have sent a new account activation email link to {{ request.session.registration.email }}.
            </div>
        {% endif %}
        <p class="govuk-body">
            You can now access your account. To take part in a trade remedy investigation, verify your email address.
        </p>
        <p class="govuk-body">
            We have sent an email to <strong>{{ request.session.registration.email }}</strong>.
        </p>
        <p class="govuk-body">
            Open the email and click on the link to verify your email address.
        </p>
        <p class="govuk-body">
            The link is valid for 24 hours. If it expires, you can request a new verification email.
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received an email
          </span>
            </summary>
            <div class="govuk-details__text">
                <p>Check that you entered your email address correctly. If it is incorrect, create an account again with the correct email address.</p>
                <p>Check your spam or junk mail folders.</p> {# /PS-IGNORE #}
                <p>If you still have not received your verification email, <a
                        href="{% url 'request_email_verify_code' user_pk=request.session.registration.pk %}">request a new email</a>.</p>
            </div>
        </details>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The link in my email has expired
          </span>
            </summary>
            <div class="govuk-details__text">
                <p><a href="{% url 'request_email_verify_code' user_pk=request.session.registration.pk %}">Request a new verification email</a>.</p>
            </div>
        </details>
        <a href="{% url 'login' %}" class="govuk-button" data-module="govuk-button">
            Sign in
        </a>
    </div>


{% endblock main_content %}
