{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your employer
{% endblock %}

{% block fieldset_heading %}
    Your employers details
{% endblock fieldset_heading %}

{% block form_content %}
    <div id="sort-hint" class="govuk-hint">
        Search the Companies House register for your employer
    </div>
{% endblock form_content %}

{% block scripts %}
    <script type="text/javascript">
        $('[name="2fa-choice"]').change(function () {
            if ($('[name="2fa-choice"]:checked').val() === "mobile") {
                $('#conditional-mobile').show()
            } else {
                $('#conditional-mobile').hide()
            }
        })
    </script>
{% endblock %}
