{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your organisation
{% endblock %}

{% block heading %}
    Your organisation
{% endblock heading %}

{% block form_content %}
    <p class="govuk-body">Tell us about your direct employer.</p>
    <p class="govuk-body">If you are a lawyer or consultant, you will be able to tell us about your client later when you register interest in a specific case.</p>
    {% include "v2/component_macros/two_radio_buttons.html" with value_one="yes" value_two="yes" label_size='s' label_one="Yes" label_two="No" id_one="uk_employer" id_two="non_uk_employer" name="uk_employer" label="Is your organisation a UK registered company?" %}
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to find out if your organisation is a UK registered company
    </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">Search the <a href="https://www.gov.uk/get-information-about-a-company"
                                                              target="_blank" rel="noopener noreferrer"
                                                              class="govuk-link">Companies House register (opens in a
                new tab).</a></p>
            <p>If you cannot find your organisation in the register, it’s not a UK registered company.</p>
        </div>
    </details>
    {% include "v2/component_macros/form_button_group.html" %}
{% endblock form_content %}
