{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Your account
{% endblock %}

{% block fieldset_heading %}
    Create account
{% endblock fieldset_heading %}

{% block form_content %}
    {% include 'v2/component_macros/text_input.html' with label="Enter your name" id="name" name="name" type="text" width="20" hint="How would you like to be addressed?" strong=True %}
    {% include 'v2/component_macros/text_input.html' with label="Your email address" id="email" name="email" type="text" width="20" hint="This will be used to sign in to your account and must be your professional email address, for example yourname@company.com." strong=True %} {# /PS-IGNORE #}
    {% include 'v2/component_macros/checkbox.html' with label="I have read and understood the <a href='/termsofuse-privacypolicy/' target='_blank'> Terms of Use and Privacy Notice</a> (opens in a new window)" id="terms_and_conditions_accept" name="terms_and_conditions_accept" %}
    {% include "v2/component_macros/form_button_group.html" with forward_button_text="Continue" %}
{% endblock form_content %}
