{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Further details about your organisation
{% endblock %}

{% block fieldset_heading %}
    Further details about your organisation
{% endblock fieldset_heading %}

{% block form_content %}
    <p class="govuk-body">Please provide as much of the following information as you can to help us verify your organisation.</p>
    {% include "v2/component_macros/text_input.html" with id="company_website" name="company_website" label="Organisation website (optional)" hint="For example mycompany.com" type="text" width="20" strong=True %}
    {% include "v2/component_macros/text_input.html" with id="company_vat_number" name="company_vat_number" label="VAT registration number (optional)" hint="Your organisation will have a VAT number if registered for Value Added Tax" type="text" width="20" strong=True %}
    {% include "v2/component_macros/text_input.html" with id="company_eori_number" name="company_eori_number" label="EORI number (optional)" hint="Your organisation will have an EORI number if you have brought goods into the UK or EU" type="text" width="20" strong=True %}
    {% include "v2/component_macros/text_input.html" with id="company_duns_number" name="company_duns_number" label="D‑U‑N‑S Number (optional)" hint="Your organisation might have a 9 digit Data Universal Numbering System identifier" type="text" width="20" strong=True %}

    {% include "v2/component_macros/form_button_group.html" with forward_button_text="Create my account" %}
{% endblock form_content %}
