{% extends "v2/govuk/base_with_form.html" %}
{% load static %}

{% block page_title %}
    Enter your password
{% endblock %}

{% block fieldset_heading %}
    Create a password
{% endblock fieldset_heading %}

{% block extra_css %}
    <link href="{% static 'v2/css/login.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block form_content %}
    <p class="govuk-body">The password for this account must:</p>
    <ul class="govuk-list govuk-list--bullet" aria-hidden="true">
        <li id="length">be at least 8 characters long,</li>
        <li id="letter">include at least one lowercase letter,</li>
        <li id="captial">include at least one uppercase letter,</li>
        <li id="special">contain a special character (e.g. !@$%/&lt;)</li>
    </ul>
    {% include "v2/component_macros/password_field_with_button.html" %}
    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link" href="javascript: history.back()">Back</a>
    </div>
{% endblock form_content %}

{% block scripts %}
    <script src="{% static 'v2/js/password_input.js' %}"></script>
    <script type="text/javascript">

        $("#password").keyup(function () {
            if ($(this).val().length >= 8) {
                // It's 8 characters or more
                $("#length").addClass("valid")
            } else {
                $("#length").removeClass("valid")
            }

            if ($(this).val().match(/[a-z]/)) {
                // There are lowercase characters
                $("#letter").addClass("valid")
            } else {
                $("#letter").removeClass("valid")
            }

            if ($(this).val().match(/[A-Z]/)) {
                // There are uppercase characters
                $("#captial").addClass("valid")
            } else {
                $("#captial").removeClass("valid")
            }

            if ($(this).val().match(/[^A-Za-z0-9]/)) {
                // There are special characters
                $("#special").addClass("valid")
            } else {
                $("#special").removeClass("valid")
            }
        })

    </script>
{% endblock %}
