{% extends 'govuk/base.html' %}
{% load i18n %}
{% load static %}
{% load sass_tags %}
{% load govuk_template_base %}

{% block page_title %}{% get_service_settings as service_settings %}GOV.UK –
    {{ service_settings.localised_name }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="{% sass_src 'govuk/sass/base.scss' %}" media="screen" rel="stylesheet"/>
    <link href="{% static 'v2/css/feedback.css' %}" rel="stylesheet">
{% endblock %}

{% block cookie_message %}
    <p>
        {% trans 'GOV.UK uses cookies to make the site simpler.' %}
        <a href="https://www.gov.uk/help/cookies">
            {% trans 'Find out more about cookies' %}
        </a>
    </p>
{% endblock %}

{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
    {% get_service_settings as service_settings %}
    <div class="header-proposition">
        <div class="content">
            {% if service_settings.has_header_links %}
                <a href="#proposition-links" class="js-header-toggle menu">{% trans 'Menu' %}</a>
            {% endif %}
            <nav id="proposition-menu">
                {% block proposition %}{{ service_settings.localised_name }}{% endblock %}
                {% block proposition_menu %}
                    {% if service_settings.has_header_links %}
                        <ul id="proposition-links">
                            {% for link in service_settings.header_links.all %}
                                <li><a href="{{ link.url }}"
                                    class="{% if link.link_is_view_name and link.link == request.resolver_match.view_name %}active{% endif %}">{{ link.localised_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main role="main" id="content" tabindex="-1">
        {% block inner_content %}{% endblock %}
    </main>
{% endblock %}

{% block licence_message %}
    <p>
        {% blocktrans trimmed with url='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/' %}
            All content is available under the <a href="{{ url }}" rel="license">Open Government Licence v3.0</a>,
            except where otherwise stated
        {% endblocktrans %}
    </p>
{% endblock %}

{% block footer_support_links %}
    {% get_service_settings as service_settings %}
    {% if service_settings.has_footer_links %}
        <ul>
            {% for link in service_settings.footer_links.all %}
                <li><a href="{{ link.url }}">{{ link.localised_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block body_end %}
    <script src="{% static 'javascripts/vendor/jquery-3.5.1.min.js' %}"></script>

    {# govuk_frontend_toolkit #}
    <script src="{% static 'govuk/javascripts/govuk/show-hide-content.js' %}"></script>
    <script src="{% static 'govuk/javascripts/govuk/shim-links-with-button-role.js' %}"></script>
    <script src="{% static 'govuk/javascripts/vendor/polyfills/bind.js' %}"></script>

    {# govuk_elements #}
    <script src="{% static 'govuk/javascripts/govuk/details.polyfill.js' %}"></script>
    <script src="{% static 'govuk/javascripts/application.js' %}"></script>
{% endblock %}
