{% extends "cases/submissions/base_form.html" %}
{% load set %}
{% block breadcrumb_current %}Invite 3rd party{% endblock %}
{% block page_subtitle %}2. Add an invitee{% endblock %}
{% block page_title %}Add Invitee{% endblock %}

{% block subtype_content %}
{% if contact.organisation.companies_house_id %}
    {% set 'company_id' contact.organisation.companies_house_id %}
{% else %}
    {% set 'company_id' "" %}
{% endif %}
<div class="grid-row">
    <div class="column-full">
        <div class="form-group edit-item type-select">
            <label class="form-label">
                Invite 3rd Party to {{ inviting_organisation.name }}
            </label>
            {% if submission.locked %}
                {{ contact.name }}
            {% else %}
                <div class="form-group type-text">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control form-control-3-4"
                           id="name"
                           name="name"
                           type="text"
                           value="{{ contact.name }}">
                </div>
                <div class="form-group type-text">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control form-control-3-4"
                           id="email"
                           name="email"
                           type="text"
                           value="{{ contact.email }}">
                </div>
                <label class="form-label">Is the Third Party's company UK based?</label>
                <div class="multiple-choice">
                    <input type="radio"
                           id="uk_company"
                           name="uk_company_choice"
                           value="uk_company"
                           onclick="document.getElementById('uk_company_details').hidden = false;
                                        document.getElementById('non_uk_company_details').hidden = true;"
                           {% if uk_company %}checked{% endif %}
                    />
                    <label for="uk_company" class="form-label">Yes</label>
                </div>
                <div class="panel panel-border-narrow padded"
                     id="uk_company_details"
                     {% if not uk_company %}hidden{% endif %}>
                    <label id="uk_company_hint" class="form-label">
                        Start to type the Third Party's company name and select a suggested
                        option. The company number and company address will be automatically
                        populated.
                    </label>
                    <div class="form-group type-text type-typeahead"
                         id="typeAheadWrapper">
                        <label class="form-label" for="company">Company name</label>
                        <input class="form-control form-control-3-4"
                               data-mode="company"
                               id="company"
                               name="organisation_name"
                               type="text"
                               value="{{ contact.organisation.name }}">
                    </div>
                    <div class="form-group type-text">
                        <label class="form-label" for="company_number">Company number</label>
                        <input class="form-control form-control-3-4"
                               id="company_number"
                               name="companies_house_id"
                               type="text"
                               value="{{ company_id }}">
                    </div>
                    <div class="form-group type-text">
                        <label class="form-label" for="full_address">Address</label>
                        <textarea class="form-control form-control-3-4"
                                  id="full_address"
                                  name="organisation_address"
                                  rows="5"
                                  type="text">{{ contact.organisation.address|default_if_none:"" }}</textarea>
                    </div>
                </div>
                <div class="multiple-choice">
                    <input type="radio"
                           id="non_uk_company"
                           name="uk_company_choice"
                           value="non_uk_company"
                           onclick="document.getElementById('uk_company_details').hidden = true;
                                        document.getElementById('non_uk_company_details').hidden = false;"
                           {% if non_uk_company %}checked{% endif %}
                    />
                    <label for="non_uk_company" class="form-label">No</label>
                </div>
                <div class="panel panel-border-narrow"
                     id="non_uk_company_details"
                     {% if not non_uk_company %}hidden{% endif %}>
                    <label id="non_uk_company_hint" class="form-label">
                        Select the country of the Third Party's company and enter the
                        company name and address.
                    </label>
                    <div class="form-group type-text ">
                        <label for="country" class="form-label">Country </label>
                        <select name="country_code" class="form-control" id="country">
                            <option value="">Select Country</option>
                            {% for country in countries %}
                                <option
                                        value="{{ country.0 }}"
                                        {% if country.0 == user.country_code %}selected{% endif %}>{{ country.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group type-text">
                        <label class="form-label" for="company">Company Name</label>
                        <input class="form-control form-control-3-4"
                               data-mode="company"
                               id="company"
                               name="organisation_name"
                               type="text"
                               value="{{ contact.organisation.name }}">
                    </div>
                    <div class="form-group type-text">
                        <label class="form-label" for="full_address">Address</label>
                        <input class="form-control form-control-3-4"
                               id="postal_code" type="hidden"
                               name="organisation_post_code"
                               value="{{ contact.organisation.address }}">
                        <textarea class="form-control form-control-3-4"
                                  id="full_address"
                                  name="organisation_address"
                                  rows="5"
                                  type="text">{{ contact.organisation.address|default_if_none:"" }}</textarea>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
