{% extends "cases/submissions/base_form.html" %}

{% block breadcrumb_current %}Invite 3rd party{% endblock %}
{% block page_subtitle %}2. Add an invitee{% endblock %}
{% block page_title%}Add Invitee{% endblock %}

{% block subtype_content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <div id="block-1035" class="form-group edit-item type-select ">
            <label class="form-label" for="field-1035">Invite 3rd Party to {{organisation_name}}</label>
            {% if submission.locked %}
                {{invite.name}}
            {% else %}
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{invite.name}}">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" value="{{invite.email}}">

            <div id="typeAheadWrapper" class="form-group type-text type-typeahead" data-validate=".+->You must provide a company" >
                <label class="form-label" for="company">Company name</label>
                <input class="form-control form-control-3-4" id="company" type="text" data-mode="company" name="organisation_name" autocomplete="new-password">
            </div>
            <div class="form-group type-text" >
                <label class="form-label" for="company_number">Company number</label>
                <input class="form-control" id="company_number" type="text" name="companies_house_id" value="{{organisation.companies_house_id}}">
            </div>
            <div class="form-group type-text" >
                <label class="form-label" for="company_number">Address</label>
                <input class="form-control" id="postal_code" type="hidden" name="organisation_post_code" value="{{organisation.post_code}}">
                <textarea class="form-control-3-4" rows="5" id="full_address" type="text" name="organisation_address">{{ organisation.address }}</textarea>
            </div>
        {% endif %}
        </div>

    </div>
</div>

{% endblock %}
