{% extends "cases/submissions/base_form.html" %}
{% load set %}
{% block breadcrumb_current %}Invite 3rd party{% endblock %}
{% block page_subtitle %}2. Add an invitee{% endblock %}
{% block page_title%}Add Invitee{% endblock %}

{% block subtype_content %}
{% if contact.organisation.companies_house_id %}
    {% set 'company_id' contact.organisation.companies_house_id %}
{% else %}
    {% set 'company_id' "" %}
{% endif %}
<div class="grid-row">
    <div class="column-two-thirds">
        <div id="block-1035" class="form-group edit-item type-select">
            <label class="form-label" for="field-1035">
                Invite 3rd Party to {{inviting_organisation.name}}
            </label>
            {% if submission.locked %}
                {{contact.name}}
            {% else %}
                <div class="form-group type-text">
                <label class="form-label" for="name">Name</label>
                <input class="form-control form-control-3-4"
                       id="name"
                       name="name"
                       type="text"
                       value="{{contact.name}}">
                </div>
                <div class="form-group type-text">
                <label class="form-label" for="email">Email</label>
                <input class="form-control form-control-3-4"
                       id="email"
                       name="email"
                       type="text"
                       value="{{contact.email}}">
                </div>
                <div class="form-group type-text type-typeahead"
                     data-validate="You must provide a company"
                     id="typeAheadWrapper">
                    <label class="form-label" for="company">Company name</label>
                    <input autocomplete="new-password"
                           class="form-control form-control-3-4"
                           data-mode="company"
                           id="company"
                           name="organisation_name"
                           type="text"
                           value="{{contact.organisation.name}}">
                </div>
                <div class="form-group type-text">
                    <label class="form-label" for="company_number">Company number</label>
                    <input class="form-control"
                           id="company_number"
                           name="companies_house_id"
                           type="text"
                           value="{{company_id}}">
                </div>
                <div class="form-group type-text" >
                    <label class="form-label" for="company_number">Address</label>
                    <input class="form-control"
                           id="postal_code" type="hidden"
                           name="organisation_post_code"
                           value="{{contact.organisation.address}}">
                    <textarea class="form-control-3-4"
                              id="full_address"
                              name="organisation_address"
                              rows="5"
                              type="text">{{contact.organisation.address}}</textarea>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
