{% extends "base.html" %}
{% load format_date %}

{% block row_content %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large"><span class="heading-secondary">HTTP 403</span>
                <i class="icon icon-amber-warning">
                    <span class="visually-hidden">Alert</span>
                </i>
                Forbidden
            </h1>
            <p>
                Oops, you do not have permission to view the page you requested.
                Here are some things you can try:
            </p>
            <ul class="list list-bullet double-spaced">
                <li>Make sure you are logged in.</li>
                <li>Make sure you are requesting a page you have permission to see.</li>
                <li>Ask your administrator if your permissions are correctly set.</li>
                <li>Make sure cookies are enabled for this site.</li>
                <li>Try clearing your browser cache and cookies.</li>
                <li>Return to the <a class="link" href="/">home page</a> and start
                    again</li>
            </ul>
        </div>
        <div class="column-one-third">
            {% include "partials/widgets/help_box.html" %}
        </div>
    </div>
{% endblock %}
