{% extends "base.html" %}
{% load format_date %}

{% block main_content %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large"><span class="heading-secondary">HTTP 404</span>
                <i class="icon icon-amber-warning">
                    <span class="visually-hidden">Alert</span>
                </i>
                Not Found
            </h1>
            <p>
                Oops, the page you requested could not be found. Here are some things
                you can try:
            </p>
            <ul class="list list-bullet double-spaced">
                <li>If you entered a web address, please check that it was correct.</li>
                <li>Use your browser's back button and check the link that you clicked.</li>
                <li>If you clicked a link that brought you to this page, please let us know.</li>
                <li>Return to the <a class="link" href="/">home page</a> and start
                    again
                </li>
            </ul>
        </div>
        <div class="column-one-third">
            {% include "partials/widgets/help_box.html" %}
        </div>
    </div>
{% endblock %}
