{% extends "govuk/govuk_template.html" %}
{% load sass_tags %}
{% load static %}
{#{% load govuk_template_base %}#}
{% load analytics %}

{% block cookie_message %}
    {% if not cookie_policy_set %}
        <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on Trade Remedies">
            <div class="govuk-cookie-banner__message govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Trade Remedies</h2>
                        <div class="govuk-cookie-banner__content">
                            <p class="govuk-body">We use some essential cookies to make this service work.</p>
                            <p class="govuk-body">We'd also like to use analytics cookies so we can understand how you use
                                the service and make improvements.</p>
                        </div>
                    </div>
                </div>
                <form action="{% url 'cookie_preferences' %}" method="POST">
                    <div class="govuk-button-group">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button value="accept" type="submit" name="cookies" class="govuk-button" data-module="govuk-button"
                            data-accept-cookies="true" data-track-category="cookieBanner"
                            data-track-action="Cookie banner accepted">
                            Accept analytics cookies
                        </button>
                        <button value="reject" type="submit" name="cookies" class="govuk-button" data-module="govuk-button">
                            Reject analytics cookies
                        </button>
                        <a class="govuk-link" href="{% url 'cookie_preferences' %}">View cookies</a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if cookie_policy_updated %}
        <form method="POST">
            <div class="govuk-cookie-banner " data-nosnippet role="region" aria-label="Cookies on Trade Remedies"
                id="cookies_accepted_banner">
                <div class="govuk-cookie-banner__message govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-cookie-banner__content">
                                <p class="govuk-body">You’ve{% if cookie_policy.accept_gi == 'on' %} accepted {% else %}
                                    rejected {% endif %}additional cookies. You can
                                    <a class="govuk-link" href="{% url 'cookie_preferences' %}">
                                        change your cookie settings</a> at any time.</p>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-button-group">
                        <a href="#" onclick="$('#cookies_accepted_banner').hide()" role="button" draggable="false"
                            class="govuk-button" data-module="govuk-button">
                            Hide cookie message
                        </a>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% block feedback_section %}
        <div class="feedback-section">
            <a class="govuk-link" href="{% url 'collect_feedback' %}?previous_url={{ request.path }}&previous_url_name={{ request.resolver_match.url_name }}&journey=Generic+Footer">Give feedback.</a>
        </div>
    {% endblock %}
{% endblock %}

{% block page_title %}Trade remedies{% endblock %}

{% block head %}
    {{ block.super }}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link href="{% sass_src 'sass/main.scss' %}" media="screen" rel="stylesheet" />
    {% analytics %}
    <script type="text/javascript" src="{% static 'javascripts/vendor/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/require.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/main.js' %}"></script>

    <script type="text/javascript">
        window.dit = window.dit || {};
        window.dit.jsBase = "{% static 'javascripts' %}";
        window.dit.csrfToken = "{{ csrf_token }}";

        function setOrganisation(organisationId) {
            var url;
            if (organisationId && organisationId.length > 0) {
                url = '/organisation/set/' + organisationId + '/?next={{request.path}}';
            } else {
                url = '/organisation/set/?next={{request.path}}';
            }
            document.location.replace(url)
        }
    </script>
{% endblock %}

{% block body_start %}
    {% analytics body=True %}
{% endblock %}

{% block proposition %}
    <a href="{{ service_settings.header_link_url|default:'/' }}" id="proposition-name">
        Trade Remedies
    </a>
    <div class="proposition-controls">
        {{user.name}}
        {% if authenticated and not within_2fa and not within_verify %}
            | <a href="/accounts/info/">Manage account</a> <!--{{user.name}}--> | <a href="/accounts/logout/">Sign out</a>
        {% elif authenticated and within_2fa or within_verify %}
            | <a href="/accounts/logout/">Cancel and Logout</a>
        {% endif %}
    </div>
{% endblock %}

{% block inner_content %}
    {% if public_notice %}
        <div class="box-alert warning oneline" >{{public_notice}}</div>
    {% endif %}

    {% include "partials/widgets/org_display_large.html" %}

    {% block row_content %}
    {% endblock %}
    {% block feedback_content %}
        <br>
        <br>
    {% endblock feedback_content %}
{% endblock %}

{% block footer_support_links %}
    <ul>
        <!--<li><a href="/contactus/">Contact</a></li>-->
        <li><a href="/termsofuse-privacypolicy/" target="_blank" title="Opens in a new tab">Privacy</a></li>
        <li><a href="/cookies/?url={{ request.path }}">Cookies</a></li>
        <li><a href="/accessibilitystatement/" target="_blank" title="Opens in a new tab">Accessibility</a></li>
        <li>[version: {{version.api}}/{{version.ui}}]</li>
    </ul>
{% endblock %}
