{% load text_element %}
<div class="password-check" data-attach="PasswordCheck">
    <div>{{ title|default:'Password'}}</div>
    <span class="hint">
        Your password must:
        <ul>
            <li data-expression=".{8}"><i class="icon icon-blank margin-right-1 correct"></i>be at least 8 characters long</li>
            <li data-expression="\d"><i class="icon icon-blank margin-right-1 correct"></i>have at least one number (0 to 9)</li>
            <li data-expression="([A-Z].*[a-z])|([a-z].*[A-Z].*)"><i class="icon icon-blank margin-right-1 correct"></i>include both upper and lower case letters</li>
            <li data-expression="[!&#34;$%&amp;\'#()*+,-./:;<=>?\\@[\]^_`{|}~]"><i class="icon icon-blank margin-right-1 correct"></i>contain a special character (e.g. !@$%/<)</li>
        </ul>
    </span>
    {% text_element id='password' autocomplete="off" label='' errors=errors password=True %}
</div>
