{% extends "base.html" %}
{% load organisation_name %}
{% load organisation_initialism %}

{% block row_content %}
    <div class="terms-and-conditions-page">
        <h1 class="heading-large"><span class="heading-secondary">Trade Remedies Digital Service</span>
            Accessibility statement for the {% organisation_initialism %} service
        </h1>
        <div class="column-two-thirds left-column">

            <h2 class="heading-medium">Using this website</h2>
            <p>This website is run by the {% organisation_name %} ({% organisation_initialism %}), part of Department
                for International Trade (DIT). We want as many people as possible to use this website, so you should be
                able to:</p>
            <ul class="list list-bullet">
                <li>navigate the website using speech recognition software</li>
                <li>navigate the website using a keyboard</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>listen to most of the website using a screen reader</li>
            </ul>
            <p>We’ve made the text as understandable as possible, including defining acronyms and explaining more
                technical terms.</p>
            <p>All parts of this website should be accessible.</p>

            <h2 class="heading-medium">What to do if you can’t access parts of this website</h2>
            <p>If you need information on this website in a different format like accessible large print, easy read,
                audio recording or braille:</p>
            <ul class="list list-bullet">
                <li>email <a href="mailto: contact@traderemedies.gov.uk">contact@traderemedies.gov.uk</a></li> {# /PS-IGNORE #}
                <li>call +44 (0) 20 7215 5000</li>
            </ul>
            <p>We’ll consider your request and get back to you in 5 working days.</p>
            <h2 class="heading-medium">Technical information about this website’s accessibility</h2>
            <p>{% organisation_initialism %} is committed to making its service accessible, in accordance with the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <p>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.
            <p>
            <p>This statement was prepared on 03 July 2019 It was last updated on 03 July 2019.</p>
            <h2 class="heading-medium">How we tested this website</h2>
            <p>This website was last tested on 16 April 2019. The test was carried out by a DIT appointed independent
                specialist, <a href="http://www.digitalaccessibilitycentre.org">Digital Accessibility Centre</a>.</p>

            <p>Evidence for this accessibility assessment:</p>
            <ul class="list list-bullet">
                <li>we have supplied alt text for images</li>
                <li>the tables follow the <a href="https://design-system.service.gov.uk/">GDS design system</a> so have
                    already been tested for accessibility compliance
                </li>
                <li>the content structure is in a logical order and broken up with clear headers and sub headers and
                    form fields are labelled.
                </li>
                <li>the pages can be navigated using a keyboard with focus on tab</li>
                <li>text and graphic elements have sufficient contrast against the background</li>
                <li>the page title indicates the website’s purpose and content</li>
                <li>the purpose of every link is clear from the link text</li>
                <li>the website uses valid HTML</li>
                <li>the website is content so interactive elements are limited to links, with graphics limited to
                    graphs
                </li>
                <li>users can change the text spacing or line height in their browser</li>
                <li>the service was tested using (and works with) the following assistive tools: ZoomText, Jaws, NVDA,
                    VoiceOver, DragonVoice, Talkback.
                </li>
            </ul>

        </div>

        <div class="column-one-third right-column">
            {% block right_column %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
