{% extends "registration/account_base.html" %}
{% load text_element %}
{% load password_element %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block login_title_banner %}
  <div class="column-full margin-top-2 margin-bottom-2">
    <span class="heading-xlarge margin-bottom-1">Welcome to the Trade Remedies Service</span>
    <p>To start an application or participate in an existing case, sign in or create an account.</p>
    <ul class="list">
      <li>
        <a class="link" href="/public/cases/" target="_blank">View active cases and follow progress on the public file <i class="icon16 icon-outlink inline" title="Opens in a new tab"></i></a>
      </li>
      <li>
        <a class="link" href="{% link_lookup 'LINK_HELP_BOX_GUIDANCE' %}" target="_blank">Read more about trade remedies <i class="icon16 icon-outlink inline" title="Opens in a new tab"></i></a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block page_title %}
    Sign in
{% endblock %}

{% block right_column %}
    <div>
        <h2 class="heading-large margin-top-1">Don't have an account?</h2>
        <div class="pulll-left list">
            <a href="/accounts/register{% if code and case_id %}/{{code}}/{{case_id}}/{% endif %}">Create an account</a>
        </div>
    </div>
{% endblock %}

{% block form_content %}
    <input type="hidden" name="next" value="{{next|default:''}}">

    {% if expired %}
        <div class="govuk-box-highlight left">
            Your session has expired. <br/>Please log in again.
        </div>
    {% endif %}
    {% include "partials/email_verified_notice.html" %}

    {% text_element id='email' type="email" autocomplete="email" label='Email address' errors=errors %}
    {% password_element id='password' label='Password' errors=errors %}
    <div><a href="/accounts/forgotpassword/">Forgotten password</a></div>
    <button type="submit" id="login-submit" class="button margin-top-2" name="btn-action" value="login" >Sign in</button>

  <script>
      localStorage.clear()
  </script>

{% endblock %}
