{% extends "base.html" %}
{% load text_element %}

{% block main_content %}
  <div id="wrapper" class="site-wrapper direction-ltr">
    <form action="/accounts/forgotpassword/" method="post">
        {% csrf_token %}
        <main role="main" id="content" lang="en">
            <div class="grid-row">
                <div class="column-full margin-top-2">
                    <h1 class="heading-large margin-bottom-1">
                        Reset your password
                    </h1>
                     <div class="pull-left">
                        <p class="">
                            {% text_element id='email' type='email' autocomplete='email' label='Email address' errors=errors %}
                        </p>
                    </div>
                     <div class="pull-left">
                        <p class="">
                            <button type="submit" class="button"/>
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </form>
</div>

{% endblock %}
