{% extends "registration/account_base.html" %}
{% load text_element %}

{% block page_title %}
    Reset your password
{% endblock %}

{% block right_column %}
    <h2 class="heading-small margin-top-1">Don't have an account?</h2>
    <a href="/accounts/register{% if code and case_id %}/{{code}}/{{case_id}}/{% endif %}">Create an account</a>
    <p><br/></p>
    <h2 class="heading-small margin-top-1">Remembered your password? </h2>
    <a href="/accounts/login{% if code and case_id %}/{{code}}/{{case_id}}/{% endif %}">Sign in</a>
{% endblock %}

{% block form_content %}
    {% if invalid_code %}
        <p>
            This code has expired, been used or is invalid
        </p>
        <div><a href="/accounts/forgotpassword/">Request again</a></div>
    {% endif %}
    {% if error %}
        <p>
            {{error|safe}}
        </p>
    {% endif %}
        <p>Enter a new password in the fields below</p>
        <form action="/accounts/password/reset/{{code}}/" method="post">
            {% csrf_token %}
            {% include "registration/_password_entry.html" with title="New password" %}
            {% text_element password=True id='password_confirm' label='Confirm new password' errors=errors %}
            <button type="submit" class="button">Reset password</button>
        </form>

{% endblock %}
