{% extends "base.html" %}
{% load organisation_name %}
{% load organisation_initialism %}


{% block row_content %}
    <div class="terms-and-conditions-page">
        <div class="column-two-thirds left-column">
            <h1 class="heading-large"><span class="heading-secondary">Trade Remedies Service</span>
                Trade Remedies Service Terms of Use and Privacy Notice
            </h1>
            <h2 class="heading-medium">Introduction</h2>
            <p>The terms of use and privacy notice (“Notice”) describes the handling of data, including personal data, collected and used by the {% organisation_initialism %}. This includes communications to the {% organisation_initialism %} whether in electronic format, paper format or by telephone. By personal data, we mean any information relating to an identified or identifiable natural person.</p>
            <p>The purpose of this Notice is to inform people what information is collected about them, by whichever means; how this information is used; if it is disclosed and ways in which we protect their privacy.</p>
            <p>This Notice only relates to data that the {% organisation_initialism %} collects and processes. We are not responsible for external organisations that may link to the {% organisation_initialism %}’s web pages. For more information concerning external agencies and stakeholders please visit the relevant privacy statement on their own web pages.</p>

            <h2 class="heading-medium">Why the {% organisation_name %} needs to collect and process information</h2>
            <p>We only collect, use and share personal data where the law says we can. This is:</p>

            <ul class="list list-bullet">
                <li>where we have your express consent</li>
                <li>where the law allows us to collect, use and share the personal data, because it is in the public interest and because we need to do this so that we can carry out our official work</li>
                <li>where we need your personal data because we have a contract with you, for example a contract of employment</li>
                <li>where the law says that we can compel someone to provide us with your personal data, so that we can carry out our work</li>
                <li>when the law compels us to collect, use or share personal data</li>
            </ul>
            <p>If you have given us your consent to collect, use or share your personal data, you may withdraw your consent at any time by contacting us. Withdrawing your consent will not affect the validity of how we have collected, used or shared your personal data up to that point</p>
            <h2 class="heading-medium">Legal basis for processing information</h2>
            <p>The {% organisation_initialism %} may need to collect, process and/ or share information in order to:</p>
            <ol class="list list-number">
                <li>Carry out its functions relating to import duty conferred by, Schedule 4 of the Taxation (Cross-border Trade) Act 2018 (“Customs Act”) relating to dumping and foreign subsidies causing injury to UK industry, and functions relating to increased imports causing serious injury to UK producers conferred by Schedule 5 of the Customs Act.</li>
                <li>Provide the Secretary of State with such, advice, support and assistance as the Secretary of State requests under the Trade Act 2021 in connection with:
                    <ul class="list list-bullet">
                        <li>The conduct of an international trade dispute</li>
                        <li>Functions of the Secretary of State relating to trade, and</li>
                        <li>Functions of the {% organisation_initialism %}</li>
                    </ul>
                </li>
                <li>Provision of such advice, support and assistance under the Trade Act 2021 as it considers appropriate in relation to international trade, and trade remedies.</li>
                <li>Perform functions, comply with obligations or exercise powers under the:
                    <ul class="list list-bullet">
                        <li>Public Records Acts 1958 and 1967</li>
                        <li>Freedom of Information Act 2000</li>
                        <li>Environmental Information Regulations 2004</li>
                        <li>European General Data Protection Regulation 2016</li>
                        <li>Data Protection Act 2018</li>
                    </ul>
                </li>
                <li>Carry out any action necessary or expedient for:
                    <ul class="list list-bullet">
                        <li>corporate administration</li>
                        <li>governance and communications</li>
                        <li>accounting purposes</li>
                        <li>work with the devolved administrations</li>
                        <li>work with MPs</li>
                        <li>work with stakeholders</li>
                        <li>work with other public bodies</li>
                        <li>work with other government departments</li>
                        <li>work with partner organisations</li>
                        <li>our work with journalists, lobbyists, charities, survey responders and survey companies, research agencies, academics and external speakers</li>
                        <li>our work with consumers and consumer organisations and trade associations, traders, suppliers, contractors; consultants, advisers, HMRC, Government Departments, the courts and legal Counsel</li>
                        <li>our work in our capacity as an employer</li>
                        <li>our intelligence gathering, including profiling, and case development work</li>
                        <li>conducting research to improve our services</li>
                    </ul>
                </li>
            </ol>
            <h2 class="heading-medium">When do we collect information about people?</h2>

            <p>We collect information about people falling into the following categories:</p>

            <ul class="list list-bullet">
                <li>visitors to our websites.</li>
                <li>people who use our general information services, e.g. who subscribe to our RSS feeds, e-newsletters, social media sites, email alerts or request a publication from us.</li>
                <li>people who engage with the {% organisation_initialism %}, or whose data we are provided with, as part of our carrying out of our functions and related organisational activities.</li>
                <li>people who contact us in relation to information requests, complaints and general queries.</li>
                <li>job applicants and our current and former employees.</li>
            </ul>

            <p>Sometimes we collect your personal data directly from you, but sometimes we collect it from third parties. Where we collect personal data from third parties, it may be from organisations like survey companies, or those traders operating in sectors of the market that we are investigating.</p>
            <p class="heading-medium">Third parties the {% organisation_initialism %} obtains personal data from include but are not limited to:</p>
            <ul class="list list-bullet">
                <li>other government departments, public bodies or executive agencies</li>
                <li>foreign governments or authorities</li>
                <li>stakeholders</li>
                <li>HMRC</li>
                <li>overseas exporters or importers</li>
                <li>trade or business associations</li>
                <li>producers and traders</li>
                <li>consumer organisations</li>
                <li>research agencies</li>
                <li>data that has been supplied as part of a submission of evidence by other parties that have registered interest in a case</li>
            </ul>

            <h2 class="heading-medium">How long we keep your personal data</h2>
            <p>The law says that we may only keep your personal data for as long as we need it to do our work. For example, where we collect and use personal data to carry out a trade remedies investigation, it is likely that we will need to hold your data while any relevant trade remedies are in force, due to the potential for appeals and review of the measures. However, it is likely we will no longer need your personal data once the measures (and any appeals and/ or reviews in relation to the goods or the measures concerned) are revoked. When we no longer need your personal data, we securely delete it. In deciding how long we need to keep your personal data for, we also have regard to the time periods recommended to government departments for keeping certain categories of information by The National Archive and our own retention schedule.</p>
            <p>For more information see our Data Retention Policy.</p>


            <h2 class="heading-medium">Our digital platform</h2>
            <h3 class="heading-small">Information you provide</h3>
            <p>To take part in an investigation or to start an application you are required to create an account with the Trade Remedies Service. To create an account you will be required to provide your:</p>
            <ol class="list list-number">
                <li>Full name</li>
                <li>The organisation you work for</li>
                <li>Email address</li>
                <li>Organisation’s head office address including country</li>
                <li>A password (so you can access your case in the future)</li>
                <li>Mobile phone number (for signing into the service – on sign in to the service a code will be sent to the registered mobile to verify the user’s identity)</li>
            </ol>
            <p>When completing an application you need to provide the information the {% organisation_name %} needs to assess you have a trade remedies case. The information you need to provide will depend in which capacity you are involved in the case.</p>


            <h3 class="heading-small">Data we capture</h3>
            <p>The information you provide through our Trade Remedies Service is securely stored by the {% organisation_name %} via the Trade Remedies Service.</p>
            <p>Once you submit confidential information in an investigation you will not be able to access it through the Trade Remedies Service. The information will be sent to the {% organisation_name %} where it will be held securely.</p>
            <p>You can access all non-confidential documents you provide through the Trade Remedies Service when signed in and at periods throughout an investigation when the non-confidential documents will also be issued to the public case file on the {% organisation_initialism %}’s online public file - <a href="https://www.trade-remedies.service.gov.uk/public/cases/">https://www.trade-remedies.service.gov.uk/public/cases/</a></p>


            <h3 class="heading-small">Confidentiality of data received by us in trade investigations</h3>
            <p>Unless required to do so by law, we will treat information as confidential, where you submit information to us in connection with the exercise of any of our functions [in accordance with regulations under the Customs Act], and you have requested that we treat that information as confidential on the grounds that that information is by its nature confidential; or where you have otherwise supplied that information to us on a confidential basis. Where you have requested confidentiality, you must demonstrate to us that there is good cause for us to treat such information as confidential; and you must submit a sufficiently detailed non-confidential summary of that information for the purposes of the public file; or in exceptional circumstances, a statement of reasons.</p>
            <p>We may disclose information which we otherwise treat as confidential where such disclosure is:</p>
            <ul class="list list-bullet">
                <li>made with your consent, or the consent of the person supplying information on your behalf.</li>
                <li>made for the purpose of court or tribunal proceedings in the United Kingdom relating to the exercise by us or the Secretary of State of any functions under the Customs Act or Regulations</li>
                <li>made for the purpose of an international dispute relating to the exercise of any functions under the Customs Act or secondary legislation by us or the Secretary of State; or required or permitted by any other enactment or rule of law.</li>
            </ul>
            <p>We may also disclose to the Secretary of State information that we are treating as confidential for the purpose of the Secretary of State exercising their functions under the Customs Act or regulations made thereunder.</p>
            <p>We may receive information about you from HMRC for the purpose of facilitating the exercise of our functions relating to trade. Where we receive such information, we will not use the information for purposes other than in relation with these functions, or further disclose such information without the consent of HMRC.</p>

            <h3 class="heading-small">Retaining your data</h3>
            <p>The {% organisation_name %} will retain the data you provide for the duration of the case and for the duration of any measures enforced.</p>
            <p>{% organisation_name %} will retain the data you provide beyond the life span of a measure for audit purposes.</p>
            <p>During the period in which you compile the documents into a submission, the {% organisation_initialism %} will not have access to the documents in their system – but they will be held in the system’s database so you do not have to complete a submission in one session.</p>
            <p>Once you have submitted documents to the {% organisation_initialism %} for consideration, they will be kept as part of the auditable record of the case.</p>

            <h2 class="heading-medium">Your legal rights in relation to personal data</h2>
            <h3 class="heading-small">Right to be informed about how personal data is used</h3>
            <p>You have the right to ask us whether we are collecting, using or sharing your personal data. You may ask us at any time whether we are collecting, using or sharing your personal data, what personal data of yours we have, why we have it and what we are going to do with it. Where we are collecting, using or sharing your personal data, you can ask us for a copy of it.</p>
            <p>You may also ask us at any time to delete your personal data (sometimes called the ‘right to be forgotten’), or to correct it where you believe it may be wrong or incomplete, or to stop collecting, using or sharing your personal data, or to collect, use or share it in a more restricted way.</p>

            <h3 class="heading-small">What we must tell you</h3>
            <p>Where you have made a request and we are collecting, storing, using or disclosing your personal data, we must tell you what personal data of yours we have; why we have it; what we are doing with it; whether we are sharing it with anyone, and if so, who we are sharing it with; whether we may share it with anyone in the future (including with anyone outside the European economic area and in which case what steps we are taking to keep your personal data safe); and how long we will be keeping your personal data for.</p>
            <p>Where we are collecting, storing, using or disclosing your personal data, but have not collected it directly from you, but from a third party, we must tell you who that third party is, when we respond to your request.</p>

            <h3 class="heading-small">Time for response and cost</h3>
            <p>We must answer your request and provide you with a copy of your personal data, free of charge, without undue delay and within a month of receiving your request.</p>
            <p>But if your request is complex, or if you have made several requests, we may extend this time period by a further two months. Where we extend the time period, we must tell you we are going to do this, and why, within one month of receiving your request.</p>
            <p>If you ask us for further copies of your personal data, or you make repeated requests, the law allows us to charge you a reasonable fee based on our administrative costs, or to refuse to deal with your requests.</p>

            <h3 class="heading-small">Your right to have personal data erased in certain circumstances</h3>
            <p>Where we are collecting, using, storing or disclosing (processing) your personal data, you may ask us to delete it without undue delay where:</p>
            <ul class="list list-bullet">
                <li>we no longer need your personal data for the purposes for which we collected it or</li>
                <li>where you consented to us having your personal data and have now withdrawn that consent, unless the law allows us to keep your personal data without your consent or</li>
                <li>where you have objected to us collecting or handling your personal data or</li>
                <li>where we have collected or handled your personal data unlawfully or</li>
                <li>where the law says that we must delete your personal data</li>
            </ul>

            <h3 class="heading-small">What if we have already published your personal data?<h3>
                <p>If we have agreed to your request to delete your personal data and we have already published it, we will take reasonable steps to notify others who are handling your personal data that you have requested deletion of it and of any copies of it, or links to it. Our ability to notify others may depend on the available technology and the cost to us.</p>

                <h3 class="heading-small">Do we have to agree to your request?</h3>
                <p>We may not be able to delete your personal data for legal reasons. For example, where:</p>
                <ul class="list list-bullet">
                    <li>the law requires or allows us to keep the personal data</li>
                    <li>we need the personal data so that we can carry out our official work and it is in the public interest for us to keep it</li>
                    <li>it is needed for archiving, historical research or statistical purposes</li>
                    <li>it is needed for the establishment, exercise or defence of legal claims</li>
                </ul>

                <h3 class="heading-small">Your right to rectification</h3>
                <p>Where we are collecting, using, storing or disclosing (processing) your personal data and you believe that the personal data we have is inaccurate, you may ask us to correct it. This is called your right to rectification.</p>

                <h3 class="heading-small">Is your personal data incomplete?</h3>
                <p>You may also ask us to complete any personal data of yours that you believe is incomplete.</p>

                <h3 class="heading-small">What we must do</h3>
                <p>Where you have made a request, we must correct your personal data without undue delay.</p>

                <h3 class="heading-small">What if we have already shared your personal data?</h3>
                <p>Where we have already shared your personal data with anyone, we will notify them that you have asked us to correct it, unless notification is impossible or would involve a disproportionate effort by us. We must also tell you, if you ask us to, that we have notified the people that we have shared your personal data with.</p>

                <h3 class="heading-small">Do we always have to agree to your request?</h3>

                <p>Sometimes the law allows us to restrict your right to rectification. For example, for reasons of:</p>
                <ul class="list list-bullet">
                    <li>national security</li>
                    <li>defence</li>
                    <li>public security</li>
                    <li>the prevention, investigation, detection or prosecution of criminal offences or the execution of criminal penalties </li>
                    <li>protecting economic or financial interests, monetary, budgetary and taxation matters, public health and social security</li>
                    <li>monitoring, inspection or regulatory functions</li>
                    <li>protecting you or the rights of others</li>
                    <li>the enforcement of civil claims</li>
                </ul>

                <h3 class="heading-small">Right to restrict or object to processing of personal data in certain circumstances</h3>
                <p>You have a right to block the processing of your personal data in certain circumstances. This right arises if you are disputing the accuracy of personal data, if you have raised an objection to processing, if processing of personal data is unlawful and you oppose erasure and request restriction instead or if the personal data is no longer required by us but you require the personal data to be retained to establish, exercise or defend a legal claim.</p>
                <p>Additionally, where we are collecting, using, storing or disclosing (processing) your personal data because we need it to carry out our official work (including if we are profiling your behaviour online or handling your personal data for archiving, historical research or statistical purposes) you may object at any time.</p>

                <h3 class="heading-small">What we must do</h3>
                <p>If you object, we must stop collecting, using, storing or disclosing your personal data unless the law says that we can carry on.</p>

                <p>For example, where:</p>
                <ul class="list list-bullet">
                    <li>we can show that there are compelling and lawful reasons for us to carry on which we consider outweigh your right to object or</li>
                    <li>we need the personal data to establish, exercise or defend a legal claim</li>
                </ul>

                <h3 class="heading-small">Right to data portability</h3>
                <p>In certain circumstances you can request to receive a copy of your personal data in a commonly used electronic format. This right only applies to personal data that you have provided to us (for example by completing a form or providing information through a website). The right to data portability only applies if the processing is based on your consent or if the personal data must be processed for the performance of a contract and the processing is carried out by automated means (i.e. electronically);</p>

                <h3 class="heading-small">Right not to be subject to automated decisions where the decision produces a legal effect or a similarly significant effect:</h3>
                <p>You have a right not to be subject to a decision which is based on automated processing where the decision will produce a legal effect or a similarly significant effect on you.</p>

                <h3 class="heading-small">How to make a request under the DPA:</h3>
                <p>If you wish to ask us to restrict how we process your personal data or exercise any of your rights under data protection legislation, you should contact:</p>
                <p><a href="mailto:data.protection@traderemedies.gov.uk">data.protection@traderemedies.gov.uk</a></p> {# /PS-IGNORE #}
                <p>Or write to</p>
                <div class="panel panel-border-wide">
                    Knowledge and Information Management<br>
                    Trade Remedies Authority<br>
                    Premier House<br>
                    60 Caversham Road<br>
                    Reading<br>
                    RG1 7EB<br> {# /PS-IGNORE #}
                </div>

                <h3 class="heading-small">Proof of identity</h3>
                <p>Before we can deal with your request to exercise your individual rights, we may need to ask you for proof of identity. If so, we will ask you for a photocopy of the identity page of a current passport or current photo driving licence and an original, current utility bill (a gas, electricity, water, or telephone bill, or a credit card or bank statement) containing your name and address. We will return the utility bill to you if you ask us to.</p>

                <h3 class="heading-small">Time for response and cost</h3>
                <p>We must answer your request free of charge, without undue delay and certainly within a month of receiving your request.</p>
                <p>But if your request is complex, or if you have made several requests, we may extend this time period by a further two months. Where we extend the time period, we must tell you we are going to do this, and why, within one month of receiving your request.</p>
                <p>If you make repeated requests, the law allows us to charge you a reasonable fee based on our administrative costs, or to refuse to deal with your requests.</p>

                <h3 class="heading-small">Electronic requests</h3>
                <p>Where you make your request by email, unless you ask us not to, we will respond in an electronic form.</p>

                <h3 class="heading-small">How to complain about the way we handle your request in relation to personal data</h3>
                <p>If you are unhappy about how we are handling your request to restrict processing of your personal data, you may complain to:</p>
                <div class="panel panel-border-wide">
                    Knowledge and Information Management<br>
                    Trade Remedies Authority<br>
                    Premier House<br>
                    60 Caversham Road<br>
                    Reading<br>
                    RG1 7EB<br> {# /PS-IGNORE #}
                    Email: <a href="mailto:data.protection@traderemedies.gov.uk">data.protection@traderemedies.gov.uk</a><br> {# /PS-IGNORE #}
                </div>

                <p>If you are unhappy with the response, you can also contact:</p>
                <div class="panel panel-border-wide">
                    Information Commissioner’s Office<br>
                    Wycliffe House<br>
                    Water Lane<br>
                    Wilmslow<br>
                    SK9 5AF<br>{# /PS-IGNORE #}
                    casework@ico.org.uk<br>{# /PS-IGNORE #}
                    0303 123 1113<br>
                </div>

                <p>You also have the right to ask a Court to consider whether we have dealt properly with your request.</p>

                <h3 class="heading-small">How to make a Freedom of Information request to the {% organisation_initialism %}</h3>
                <p>The Freedom of Information Act 2000 provides a right of access to a wide range of information held by public authorities, including the {% organisation_initialism %}.  The purpose is to promote greater openness and accountability.</p>

                <h3 class="heading-small">Our duty to you</h3>
                <p>The Freedom of Information (FOI) Act 2000 requires us to:</p>
                <ul class="list list-bullet">
                    <li>Provide information to you about the {% organisation_initialism %} through a publication scheme</li>
                    <li>Provide a guide to this information</li>
                    <li>Respond appropriately to requests for information</li>
                </ul>

                <h3 class="heading-small">Before you request information from the {% organisation_initialism %}</h3>
                <p>Check whether the information you seek is already available. We publish information on our website and you may well find the answer to your question is already on the website. We have a publication scheme setting out what information we currently release or expect to release.</p>

                <h3 class="heading-small">Who can request information?</h3>
                <p>Anyone, anywhere in the world, can make a FOI request to the {% organisation_initialism %}.</p>

                <h3 class="heading-small">What can I request?</h3>
                <p>You can seek any recorded information that you think we may hold. If the information is environmental, we will respond according to the Environmental Information Regulations (EIR) 2004.</p>
                <p>You do not have to know whether the information you want is covered by the EIR or the FOI Act. When you make a request, we will decide which law applies. If the information is your own personal data, then you should make a subject access request under the Data Protection Act (DPA) 2018, and not under the FOI Act. See above for how to make DPA requests.</p>

                <h3 class="heading-small">How do I request information?</h3>
                <p>Your request must be in writing and can be either posted or emailed to us.</p>
                <p>For postal requests, please send to the following address:</p>
                <div class="panel panel-border-wide">
                    Knowledge and Information Management<br>
                    Trade Remedies Authority<br>
                    Premier House<br>
                    60 Caversham Road<br>
                    Reading<br>
                    RG1 7EB<br> {# /PS-IGNORE #}
                </div>

                <p>Email requests should be sent to: <a href="mailto:InformationRights@traderemedies.gov.uk?subject=Freedom of Information">InformationRights@traderemedies.gov.uk</a></p> {# /PS-IGNORE #}
                <p>Please write “Freedom of Information” in the subject line.</p>

                <h3 class="heading-small">What information must I include in my request?</h3>
                <p>The FOI Act requires certain information to be supplied before we can respond to your request:</p>
                <ul class="list list-bullet">
                    <li>your real name – we do not have to respond to requests submitted under a pseudonym</li>
                    <li>your address (email addresses are acceptable)</li>
                    <li>a description of the information you wish to obtain</li>
                    <li>any preferences for the format in which you wish to receive the information e.g. electronic or hard copy. We will endeavour to meet your preferences but cannot guarantee that we will be able to</li>
                </ul>

                <h3 class="heading-small">What you do not need to do:</h3>
                <ul class="list list-bullet">
                    <li>explicitly mention the FOI Act, although it may help to do so</li>
                    <li>know whether the information is covered by the FOI Act or the EIR as we will decide this</li>
                    <li>say why you want the information</li>
                    <li>specify particular documents. You have a right to information, however it is recorded</li>
                </ul>

                <h3 class="heading-small">What happens when my request is received?</h3>
                <p>We have a legal obligation to reply to your FOI request and must do so within 20 working days of receipt. We will do one of the following:</p>
                <ul class="list list-bullet">
                    <li>supply you with the information you requested</li>
                    <li>inform you that we don’t hold the information and, if we are able, advise you who does</li>
                    <li>inform you that your request will exceed the cost limit specified in the Fees Regulations and invite you to submit a narrower request</li>
                    <li>inform you that we hold the information requested but refuse to provide all or part of it and explain why, citing one or more of the exemptions from the FOI Act</li>
                    <li>inform you that we are refusing your request on the basis it is repeated or vexatious</li>
                    <li>inform you that we need more time to consider the public interest test in relation to your request and let you know when to expect a further response. This should not be later than 40 working days after receipt of your request</li>
                </ul>

                <h3 class="heading-small">What can I do if I am unhappy with the reply I receive or the way my request was handled?</h3>
                <p>You can ask us for an internal review of your FOI request. When you write to us requesting an internal review, we will acknowledge your letter and tell you how long we think the review will take. We aim to complete internal reviews within 20 working days, although more cases that are complex may take longer. Where internal reviews go over 20 working days, we will keep you informed of progress.</p>
                <p>If, after an internal review, you are still not satisfied you can then complain to the Information Commissioner (ICO).  Details of how to do this are available at the ICO website.</p>
                <p>Full details of how to ask us for an internal review will be included in our initial reply to your FOI request. Details of how to complain further to the Information Commissioner will be included in our response to your internal review request.</p>
            </div>

                <div class="column-one-third right-column">
                    {% block right_column %}
                    {% endblock %}
                </div>
            </div>

{% endblock %}
